[2011-06-19 19:04] fawx opened #3 "alpha channel renders black"
as per [http://symphony-cms.com/discuss/thread/38318/](http://symphony-cms.com/discuss/thread/38318/)

[2011-06-20 21:21] designermonkey opened #5 "Version 1.10 untagged"
need to tag version 1.10 before any more updates are made.

[2011-06-21 03:27] #5 closed, assigned to nobody

[2011-06-21 06:40] #3 closed, assigned to nobody

[2011-06-21 07:17] brendo opened #6 "Addition Modes Spec"
So there's been previous discussion and gripes about how JIT is quite hard to expand upon at the moment to allow for new modes.

I know there has been some previous discussion about this, so I apologise for not being up to date with the possible solutions that have arisen from those, but I'd like to propose another idea (or it may be the same idea that has been thrown around).

This is what curren

[2011-06-21 07:22] brendo opened #7 "Drop localisation for the `image.php` file"
Just wanted to float the idea of dropping localisation for the actual `image.php` file.

At the moment this is solely used for error reporting, and even then it's pretty lackluster supporting only 'Error generating image' or 'Image not found'. Could this be dropped to make `image.php` lightweight and just have the errors logged in English?

Localisation would still be used for the Preferences pane

[2011-06-22 21:45] fawx opened #8 "integration: background param required for mode 2"
readme indicates it is optional

[2011-06-23 03:23] #7 closed, assigned to nobody

[2011-06-29 04:35] #8 closed, assigned to nobody

[2011-06-30 06:46] nilshoerrmann opened #9 "Empty lines"
This is a bit pedantic: We you enable and disable this extension for a few times, your `.htaccess` will contain a lot of empty lines separating the JIT rules from the rest. I guess there is just a line break too much in the code ...

[code]

[2011-07-08 19:19] Odaeus opened #10 "Mention proportional resize in Readme"
I was going through the code to look at adding a resize method that maintains the proportions (aspect ratio) of the original image. I see that this functionality is already in there if you set the height parameter to zero. Definitely worth a mention in the Readme.

[2011-07-14 21:08] klaftertief opened #12 "Recipes"
The code for JIT recipes can be found at https://github.com/klaftertief/jit_image_manipulation/tree/recipes.
I'm not sure about the naming of the input elements, so any recommendations from native speakers are welcome.
For each mode there is a separate duplicator template in the preferences. Each mode needs a _URL Parameter_ that identifies a recipe. It's the first part after `/image/`as a normal

[2011-08-03 09:10] nickdunn opened #13 "Issue with caching and original image being returned"
See http://symphony-cms.com/discuss/thread/74805/

[2011-08-03 12:11] michael-e opened #15 "Direct display mode is broken"
Direct display mode has been broken by this commit:

https://github.com/symphonycms/jit_image_manipulation/commit/ab1829044a01bd1002862c4a553ed71383fe6057

[2011-08-03 13:08] #13 closed, assigned to nobody

[2011-08-03 13:28] #10 closed, assigned to nobody

[2011-08-03 16:42] michael-e opened #17 "JIT delivering cached images even if the original file is gone"
Cached images should not be delivered anymore if the original file is gone (because it has been removed).

I am working on this issue. It should work for local and external files alike.

[2011-08-03 22:43] michael-e opened #18 "Server error if images are not found"
This issue is not related to the latest issues. It might be related to some cleanups, or it may as well be rather old: JIT forces server errors if an image is not found.

Try a working URL, then make the image path invalid — the browser will render a white page without any useful header.

[2011-08-04 11:12] #15 closed, assigned to nobody

[2011-08-04 11:24] #18 closed, assigned to nobody

[2011-08-05 09:57] #17 closed, assigned to nobody

[2011-08-05 14:54] michael-e opened #20 "Should the image path be revealed when a 404 error is triggered?"
The latest integration code renders useful information if a 404 error occurs. That's great in the logfile. But one might argue that revealing the full path of an image in the browser is a small security flaw, because everybody can see where the software (i.e. Symphony) is located in the file system of the server.

So in line 118 of the extension driver we might output the basename of the file inst

[2011-08-05 16:11] #20 closed, assigned to nobody

[2011-08-27 08:45] nils-werner opened #22 "writeprotected .htaccess makes installation fail silently"
[Apparently](http://symphony-cms.com/discuss/thread/76265/), installation fails if `.htaccess` is now writeable by PHP.

I believe that if changing the file fails, an error should be displayed.

[2011-10-20 08:30] kirkstrobeck opened #23 "Math isn't forgiving"
The size math isn't forgiving in this use-case

http://see.weareinto.com/B7q4

The image is too skinny and the right-hand side is getting clipped.

http://sante.elektrobio.de/image/2/214/0/5/0/uploads/news/s_kajaleyeliner08-4e956637669fc.png

Complete image here http://sante.elektrobio.de/image/2/220/0/5/0/uploads/news/s_kajaleyeliner08-4e956637669fc.png

or here http://sante.elektrobio.de/image/0

[2011-11-01 14:21] brendo opened #24 "PHP5.3 silent errors because no timezone has been set"
Reminder to myself to ensure that a default timezone is set so that if an error occurs, the `Log` calls will still work. At the moment if no default timezone is set, the Log class will throw an exception as PHP5.3 will complain about the lack of the timezone. Because this all occurs within an error handler, the result is a white page.

The solution is to load the Configuration file and set the def

[2011-11-11 09:28] #22 closed, assigned to nobody

[2011-11-11 09:34] #24 closed, assigned to nobody

[2012-01-17 08:14] vlad-ghita opened #25 "Use absolute path for filter check"
Fail check gives false negatives when applying a filter from another folder than `/lib` (e.g.: from [Image Upload](https://github.com/vlad-ghita/image_upload/blob/master/fields/field.image_upload.php#L55)).

Line [296](https://github.com/symphonycms/jit_image_manipulation/blob/master/lib/class.image.php#L296) in `/lib/class.image.php`:

[code]

should be changed to:

[code]

[2012-01-28 13:23] #25 closed, assigned to nobody

[2012-03-10 19:40] nilshoerrmann opened #27 "Saving recipes doesn't work"
As in the title – nothing is saved but I get a `Preferences saved` message.

[2012-03-10 21:04] DavidOliver opened #28 "Upgrading from 1.14 to 1.15: renaming trusted-sites file"
After pulling from symphony/integration (2.3 beta) I updated submodules. Version 1.15 of JIT came in. At the extensions page, when selecting it and choosing to update, I got a yellow flash notification:

[code]

I created a blank `manifest/jit-trusted-sites` file, tried again - no error notification and a successful update to 1.15.

Is it possible that users upgrading will also not have a `manifes

[2012-03-11 12:02] nilshoerrmann opened #30 "Symphony Requirement"
JIT states it requires 2.2.x in the backend. It should be 2.3.

[2012-03-11 12:12] michael-e opened #31 "Unable to update JIT to the current version"
On the extensions page, you can not update to the current version of JIT. The error is:

[code]

[2012-03-25 09:14] #28 closed, assigned to nobody

[2012-03-25 09:21] #6 closed, assigned to nobody

[2012-03-25 09:22] #30 closed, assigned to nobody

[2012-03-25 09:23] #31 closed, assigned to nobody

[2012-04-29 16:18] michael-e opened #33 "Recipes, direct display: Image quality setting is superfluous?"
@brendo, @klaftertief:

Isn't the quality setting completely superfluous in direct display mode? I didn't see any effect when I changed it.

Or is the quality setting supposed to work? (In this case we should file a new issue.)

[2012-04-29 16:22] michael-e opened #34 "Recipes: Handles are not forced to be unique"
@brendo, @klaftertief:

In the recipes settings, it is possible to define several rules using the same handle. However, only the first of these rules will actually be triggered (of course).

Handles should be forced to be unique.

[2012-05-10 10:52] #27 closed, assigned to nobody

[2012-05-10 10:52] #34 closed, assigned to nobody

[2012-05-10 10:52] #12 closed, assigned to nobody

[2012-05-10 10:52] #33 closed, assigned to nobody

[2012-06-14 15:00] cremol opened #37 "JIT doesn't recognize image names containing special characters"
I uploaded a photo containing a '+' in the filename
When the photo is called through JIT it won't get displayed giving the error:
'Check if file exists and is readable'

See related thread: http://symphony-cms.com/discuss/thread/54567/

Edit: Url encoding the '+' with '%2B' does not make a difference...

[2012-06-14 17:58] kirkstrobeck opened #38 "Lossless compression"
I use the PageSpeed extension in Chrome, and it thinks the images that JIT makes can be further losslessly compressed. Is it possible to integrate that compression? The extension does the compression and offers an example of the compression, so I imagine the extension has compression built into it.

[2012-07-06 15:31] tschneidereit opened #39 "Update documentation on Symphony website"
The [documentation on the website](http://www.getsymphony.com/learn/concepts/view/jit-image-manipulation/) doesn't contain information about the *resize to fit* method. It would be helpful to include this.

[2012-08-24 09:45] jurajkapsz opened #41 "Backend image previews blocked by 'recipes only' preference"
Sorry, don't know how to reference the https://github.com/symphonycms/symphony-2/issues/1419 thread

**Added:** This topic is to advanced for me to come up with some proper solution (whetever to user some kind of system recipes presets for internal previews or to allow backend to bypass the disabling preference).

Solving it at the JIT's side would mean I guess to spare the need to update all othe

[2012-08-26 13:36] michael-e opened #42 "JIT does not redirect on external images"
JIT is using `cURL` to load external images, but it does not follow redirects. Is there any special reason for this?

I suggest to add this and set a maximum of redirects to follow.

If this is considered a desired feature, I can send a pull request.

Thoughts?

[2012-08-27 11:07] #38 closed, assigned to nobody

[2012-08-27 14:09] #42 closed, assigned to nobody

[2012-10-11 18:05] #37 closed, assigned to nobody

[2012-10-24 22:50] jdsimcoe opened #44 "Broken Image Previews on Live Server"
For some reason my live server is not showing Image Previews:

http://d.pr/f/Sjtf

I Inspected it to find that for some reason on the Live Server the preview **src** attribute is adding an extra slash and a call to the workspace folder:
## Live

`<img src="http://atheycreek.com/image/2/40/40/5//workspace/uploads/images/leaderboards/dudes-donuts_web-01-5078b31c6e0e5.jpg">`
## Local

`<img src="http

[2012-10-24 23:46] #44 closed, assigned to nobody

[2012-10-31 00:39] jensscherbl opened #45 "Doesn't preserve EXIF-orientation on crop/resize."
It's basically all in the title. Will look into this and try to provide a fix...

[2012-11-05 22:01] andrewminton opened #47 "Support GD library CMYK to RGB rendering"
As of GD version 2.0.22 there is simple support for CMYK to RGB conversion on the fly so that older browsers may be able to handle images uploaded with CMYK colourspace.

Is there scope to cater for this in the 3 channel meta check conditional within the extension maybe?

[2013-01-13 17:52] nitriques opened #55 "Use Gateway instead of curl"
Some of us do not have the privilege to have curl installed.

Could we use the Gateway class instead ? http://getsymphony.com/learn/api/2.3.1/toolkit/gateway/

[2013-01-13 18:53] nitriques opened #56 "Refactor the http status codes"
I think this extension can benefit a lot from our new way of setting the HTTP Status Code.

I am willing to fork and do it if anybody does not see any inconvenience.

[2013-01-14 13:19] nilshoerrmann opened #57 "Update Issues (Version 1.17)"
I updated my development copy of Symphony from 2.2.5 to 2.3.2beta1. After updating JIT, I now have two problems:
- My local server throws an error: `RewriteRule: unknown flag 'B', referer: http://symphony/symphony-2/symphony/system/preferences/`
- My `.htaccess` contains two set of rules, one for Symphony 2.2.5 and one for 2.3.2:

[code]

[2013-01-17 09:20] #55 closed, assigned to nobody

[2013-01-17 09:20] #56 closed, assigned to nobody

[2013-02-06 07:11] vlad-ghita opened #59 "PNG loses transparent background"
I have a link to a JIT mode 1 transparent PNG `/image/1/150/0/0/.../logo.png`. I noticed the PNG loses it's transparency.

I tracked it to [these lines][1] in `/lib/class.imagefilter.php`

    $colour = imagecolorallocatealpha($dst, 0, 0, 0, 127);
    imagefill($dst, 0, 0, $colour);

Is there any particular reason for `filling` the image?

[1]: https://github.com/symphonycms/jit_image_manipulation

[2013-02-28 17:15] designermonkey opened #60 "Spaces in filenames"
@leon13 has hacked JIT (line 178 `image.php`) to make it work with `+` in the filenames:

	$url = parse_url($_SERVER['REQUEST_URI']);
	$bug_image = str_replace('/image/', '', $url['path']);
	$param = processParams($bug_image, $settings['image']);

This obviously stops the need for passing a `GET` param through to JIT, but still requires the `htaccess` rule.

	RewriteRule ^image\/(.+\.(jpg|gif|jpeg

[2013-03-12 11:08] kanduvisla opened #61 "Call to undefined method Page::renderStatusCode()"
JIT sometimes throws this error:

[code]

And when I say sometimes, I litterally mean 'sometimes'. Pressing refresh multiple times results in sometimes rendering the picture, sometimes throwing a 500 internal server error. ini_setting `display_errors` to `on` shows this error.

[2013-03-16 05:58] jurajkapsz opened #63 "Named recipes strange behaviour"
I have a named recipe set up in system preferences, e.g. with the name `thumb`.

**Two situations happen**
1. When I create another recipe starting with the same name plus one letter, e.g. `thumbs`, its rules are ignored in favor of the `thumb` rules.
2. If I write even a longer name like `thumbsuperlong`, the image is not found at all, returning a `404` saying `Error loading image /workspace/uper

[2013-03-16 14:42] #61 closed, assigned to nobody

[2013-03-16 16:48] #63 closed, assigned to nobody

[2013-04-10 14:26] designermonkey opened #65 "WebP Support"
I think it's about time we supported this. The functions are available in PHP since v5.

[2013-04-11 08:34] #65 closed, assigned to nobody

[2013-07-08 19:32] DavidOliver opened #67 "The image [...] cannot be displayed because it contains an error"
`ob_clean()` [was added](https://github.com/symphonycms/jit_image_manipulation/pull/40/files) to the `renderOutputHeaders` method a while back because @jonmifsud was getting images that [browsers weren't recognising as valid](http://www.getsymphony.com/discuss/thread/91374/1/).

This addition didn't pose any problem for me until now. I've set up a new dev environment using PHP 5.4, and I'm finding

[2013-09-23 06:58] damienoliver opened #69 "Feature Request: S3 bucket integration (external cache)"
It would be great if when using the JIT & S3 upload extensions together we could store the cached images directly in the S3 bucket instead of the default manifest/cache dir.

[2013-09-29 19:57] strlcp opened #70 "JIT not loading https:// images"
image.php line 194:

$image_path = ($param->external === true ? "http://{$param->file}" : WORKSPACE . "/{$param->file}");

causes JIT to add an http to external images.

this is not as flexible, iI think.

one possibility is to an an external flag with 2, means https, the other is not to add any http prefix. I'll prefer the second one, in oder to use external pictures from all curl possible protoc

[2013-11-05 17:37] yojeek opened #73 "Add support for jCrop cropping mode and ImageCropper extension"
Some time ago @klaftertief [forked JIT](https://github.com/klaftertief/jit_image_manipulation/tree/jCrop) to implement new cropping mode for his super-useful [ImageCropper extension](http://symphonyextensions.com/extensions/imagecropper/). However, two JIT extensions can't live together in one Symphony install, what leads to possible compatibility problems, and i don't think that @klaftertief  is

[2013-11-10 15:21] strlcp opened #74 "jcrop not known at recipe?"
jcrop seems bhe be a new easy to handle feauture to resize and crop images.
jcrop seems not to be know at recipe at switch:
https://github.com/bernardodiasc/jit_image_manipulation/blob/jcrop/lib/image.php#L85

and obvious:
https://github.com/symphonycms/jit_image_manipulation/blob/master/lib/image.php#L82

would it be more cositent to add the new mode here too?

[2013-11-14 10:14] michael-e opened #75 "JIT expects a file suffix for images"
I wondered why JIT's rewrite rule expects a file suffix for (internal and external) images:

[code]

On the web, there might be a lot of (e.g. auto-generated) images without any suffix. (Actually I had an issue with a Twitter profile image which had no suffix.) So what about simplifying the rewrite, like so:

[code]

Please don't anybody say that this is a security feature. Think twice, it is not.

[2014-01-10 02:47] nitriques opened #80 "Issue in the README: Wrong path"
This is one of the most frequent error I do so, nobody is to blame :smile:

This path: `{$root}/image/2/80/80/5/fff/{image/@path}/{image/filename}` should be `{$root}/image/2/80/80/5/fff{image/@path}/{image/filename}`

Notice the extra / in the current version ? You do not need it, since the `path` attribute always has it.

[2014-01-12 05:22] #70 closed, assigned to nobody

[2014-01-12 05:22] #80 closed, assigned to nobody

[2014-01-12 05:34] #75 closed, assigned to nobody

[2014-02-09 16:40] #67 closed, assigned to nobody

[2014-04-01 15:41] andrewminton opened #84 "External URL's not being processed"
I have a feeling it's related to the removal of file types from the regex in htaccess file.

https://github.com/symphonycms/jit_image_manipulation/issues/75

[2014-04-01 16:06] #84 closed, assigned to nobody

[2014-04-02 09:37] #9 closed, assigned to nobody

[2014-05-05 22:34] jurajkapsz opened #86 "1.3 JIT update not indicated by Symphony backend"
Not sure why, but after uploading the `v1.3` into Symphony 2.4RC2, the update to v1.3 is not indicated at `/symphony/system/extensions/`.

[2014-08-17 05:21] #23 closed, assigned to nobody

[2014-08-17 05:21] #74 closed, assigned to nobody

[2014-08-17 05:22] #86 closed, assigned to nobody

[2014-09-15 23:37] jdsimcoe opened #90 "S3 Images in JIT don't support crop"
Is it by design that JIT doesn't support the following image modes?
- `2 (resize and crop)`
- `3 (crop)`
- `4 (resize to fit)`

[2014-10-22 06:52] nonozone opened #93 "notice:An error occurred while saving the JIT recipes. Make sure the recipes file, /workspace/jit-image-manipulation/recipes.php, exists and is writable."
I use a extension "Redactor RichText Editor",I want to change the "File upload location",but it notice"An error occurred while saving the JIT recipes. Make sure the recipes file, /workspace/jit-image-manipulation/recipes.php, exists and is writable."

where is this file"recipes.php"?

[2014-10-30 10:58] wdebusschere opened #94 "PNG"
I have JIT 1.31 with Symphony 2.51 and resizing, cropping of PNG doesn't work anymore.

[2014-11-06 21:01] #90 closed, assigned to nobody

[2014-11-19 11:00] #94 closed, assigned to nobody

[2014-11-22 08:11] kamwing opened #95 "JIT not work on Symphony 2.6.0-alpha.1 (need autoload.php) ?"
jit_image_manipulation/lib/image.php

[code]
add this line below line 9 // Include some parts of the engine

This issues can be solved.

[2014-11-24 10:18] #93 closed, assigned to nobody

[2014-11-24 10:19] #57 closed, assigned to nobody

[2014-12-29 13:09] wdebusschere opened #96 "Feature request: Image Optimization"
Is there a way to make compression better?

[2014-12-29 16:27] jonmifsud opened #97 "Make `class.image.php` Extendible"
@brendo I need to extend the image class - to be able to load data from base64 encoded string (post rather than normal upload field)

I also need to clone the objects within the class and change some properties on resize (aka JIT like stuff). Ideally without having to recreate an image from scratch every time. Basically I'm trying to create multiple resized images from the same source, resizing th

[2014-12-29 20:27] #96 closed, assigned to nobody

[2015-01-01 14:52] jensscherbl commented on #69
I think this issue should be closed. It's a task for a cache driver and not specific to images imo.

[2015-01-01 18:06] nitriques commented on #47
How would you implement it ? Not the version checking, but the RGB conversion ? Happy new year BTW!

[2015-01-02 02:57] brendo commented on #47
It happens automatically by GD. I've committed this change on `integration`.

[2015-01-02 09:12] andrewminton commented on #47
Nice one @brendo :)

[2015-01-07 21:11] nitriques commented on #47
+1 @brendo

[2015-01-07 21:14] nitriques commented on #39
Still not fixed. New url is http://www.getsymphony.com/learn/concepts/view/jit-image-manipulation/

[2015-01-07 21:19] nitriques opened #99 "Problem with PNG from tinypng"
We recently bought the photoshop plugin from https://tinypng.com/

It really rocks to compress png (more than 70% savings) but those png does not seems to play well with php GD: the transparency becomes 'pixelized'

![tinypng](https://cloud.githubusercontent.com/assets/771169/5653514/dcd7a514-9688-11e4-871d-b524940ddce3.jpg)

Anybody has a clue to why ? (I would guess color palette, but I am no pn

[2015-01-08 18:52] johnpuddephatt commented on #99
I could be completely wrong but here's my understanding:

Tinypng outputs an 8-bit indexed png with alpha transparency, whereas most transparent pngs on the web are 24-bit, non-indexed.

Your image on the right is a result of alpha transparency being ditched in favour of indexed transparency - the 'pixelation' is occuring on the boundary between fully transparent and semi-transparent areas of the

[2015-01-08 19:04] nitriques commented on #99
Wow @johnpuddephatt thanks for the explanation, I'll dig deeper than!

[2015-01-08 19:05] nitriques commented on #99
As per php's doc: `You have to unset alphablending (imagealphablending($im, false)), to use it.`

I hope we are not using it !!

[2015-01-08 22:33] nitriques commented on #99
So I've made it worked (THANKS!!) but the filesize explodes when compared to what tinypng gives...

[2015-01-09 19:55] nitriques commented on #99
I'll reopen this since I may have found a way to make it work.

Jit image already uses

Adding those two line [after this one](https://github.com/symphonycms/jit_image_manipulation/blob/integration/lib/class.imagefilter.php#L2) seems to do the trick:

[code]

**Note:** (those two calls are already present in the else clause. I wonder why they are not always called (@designermonkey @brendo ?)

I'll

[2015-01-11 07:49] jonmifsud commented on #69
@damienoliver you might also want to follow progress on - https://github.com/jonmifsud/s3_image_upload it's something I'm working on at the moment allowing users to crop images at upload point, and sending cropped image straight away to an S3 bucket.

Storing images in an S3 bucket after cropping would still mean you need to hit your server, then be redirected to an S3 bucket, or the other way rou

[2015-01-11 09:33] damienoliver commented on #69
@jonmifsud thanks mate, I'll check it out.

I haven't worked on this project for a while, but the image crop was dynamic and I could not know the required dimensions beforehand.

By memory the issue was more to do with the cache for dynamic cropped images was stored local to the server and was a AWS elastic beanstalk setup, so anything not tracked by the hit repo I.e cache files. Would get removed

[2015-01-12 01:45] brendo commented on #99
I don't think it would be on purpose...

[2015-01-12 15:47] nitriques commented on #99
So it would be safe to always call them ?

[2015-01-12 15:49] nitriques commented on #69
So can we close this issue ?

[2015-01-13 05:24] allen commented on #39
Much apologies. I'm so out of the loop with the changes to JIT it'll take me a bit of time to figure out the changes. If someone is happy enough to provide a quick and dirty pathing reference, I can make the appropriate changes on the website.

[2015-01-13 17:47] nitriques commented on #39
@allen The information in the README should be enough... no?

[2015-01-13 20:04] nitriques opened #101 "CACHING is defined twice"
I am pretty sure this is a mistake....

https://github.com/symphonycms/jit_image_manipulation/blob/integration/lib/image.php#L28

https://github.com/symphonycms/jit_image_manipulation/blob/integration/lib/image.php#L168

I would remove the second one.

[2015-01-13 23:20] michael-e commented on #101
Yep, looks like a mistake.

[2015-01-14 00:31] brendo commented on #101
It is a mistake :(

[2015-01-14 00:53] allen commented on #39
Yes, it's enough. I spoke to Brendan and got some more info about mode 4 (resize to fit).

I have made the appropriate changes on the website to reflect the updated JIT extension.

Specifically the following was updated:

- Added mode 4 description
- Added Recipes section
- Renamed "External Images" to "External Images & Trusted Sites" to better reflect the behaviour and functionality.

Let me kno

[2015-01-14 16:38] nitriques commented on #39
LGTM !! Thanks Allen!

[2015-01-14 16:38] nitriques commented on #101
I'll fix this then.

[2015-01-15 00:43] #39 closed

[2015-01-15 23:39] #101 closed

[2015-01-17 04:05] #95 closed

[2015-01-17 04:05] #47 closed

[2015-01-17 04:10] brendo commented on #99
I'm not too sure, this isn't a strength of mine. Best case would be to add it and then test with a couple of different scenarios such as:

- resizing
- cropping
- providing a fallback background
- using a transparent png
- using a jpg
- using a non transparent png

If we can do before/after comparisons on the above, then it's fair to say it's safe to add this function all the time.

[2015-01-19 16:38] nitriques commented on #99
Will do.

[2015-01-21 01:28] pixelninja opened #102 "Undefined function after upgrading"
Hi,

I had a site set up using JIT on 2.4 which worked fine, but after upgrading Symphony to 2.5.2, and JIT to 1.31, JIT has stopped working.

I have turned on JIT errors (line 3 of lib/image.php) and the message is

`Fatal error: Call to undefined function imagecreatefrompng() in /extensions/jit_image_manipulation/lib/class.image.php on line 113`

I did a find all for that function (incase it was

[2015-01-21 02:04] pixelninja commented on #102
File type is (transparent) PNG. It is fine with JPGs.

[2015-01-21 02:07] brendo commented on #102
[This may be relevant](http://stackoverflow.com/questions/18821162/imagecreatefrompng-is-not-working-at-all). Is GD configured to allow PNG's?

[2015-01-21 02:08] bernardodiasc commented on #102
Hey @pixelninja, can you check if the resolution of this issue https://github.com/symphonycms/jit_image_manipulation/issues/94 solves your case?

[2015-01-21 03:00] pixelninja commented on #102
Ahh thanks guys. My bad, I should have checked closed issues.

It was related to upgrading OS X to Yosemite. Updating to php 5.6 did the trick.

Sorry! As you were.

[2015-01-21 03:00] #102 closed

[2015-01-21 03:04] bernardodiasc commented on #102
No worries, nice that worked for you :)

[2015-03-11 09:47] wdebusschere opened #103 "Symphony 2.6: Failed opening required autoload.php"
PHP Fatal error:  require_once(): Failed opening required '/Users/.../Sites/hotel/symphony/lib/boot/autoload.php' (include_path='.:/Applications/MAMP/bin/php/php5.6.2/lib/php') in /Users/.../Sites/.../extensions/jit_image_manipulation/lib/image.php on line 10

[2015-03-11 10:00] wdebusschere commented on #103
Wrong autoload.php path
Solution:
	//require_once DOCROOT . '/symphony/lib/boot/autoload.php';
	require_once DOCROOT . '/vendor/autoload.php';

[2015-03-11 10:22] brendo commented on #103
Fixing this now

[2015-03-11 10:28] brendo commented on #103
Fixed in 1.44

[2015-03-11 10:28] #103 closed

[2015-03-12 11:59] nilshoerrmann opened #104 "Semver"
It would be nice if this extension followed the example of the core and used semantic versioning.

[2015-03-12 15:33] nitriques commented on #104
Totally.

[2015-03-12 23:12] brendo commented on #104
Yep, to do so we'd have to bump it to 2.0. Reason being is 1.4.1 < 1.41.

[2015-03-13 06:47] nilshoerrmann commented on #104
`1.50.0`?

[2015-03-13 15:01] nitriques commented on #104
1.42.0 would be ok for now... I would wait for Sym 3.0.0 to go to 2.0.0.

[2015-03-17 17:33] cmnstmntmn opened #105 "Watermarks"
is there a fork, for JIT with watermarks support?

[2015-03-17 17:37] nitriques commented on #105
Never saw one.

[2015-04-07 21:27] nitriques opened #106 "Disabling upscaling yeilds image not in good ratio"
Let's say I /image/2/2048/1500/image..  but I have a 1920x1080 image.

Disable upscaling bails out, but I think we should still respect the 2048:1500 ratio without upscaling... what do everybody thinks about that ?

[2015-04-07 21:56] michael-e commented on #106
Yep, I think the ratio should be respected.

[2015-04-08 14:40] nitriques commented on #106
Great. I'll try to find time to fix this ASAP.

I did ask for time to work on Symphony core + extensions soon.

[2015-05-22 17:05] jurajkapsz opened #107 ""Files not writable ..." error message whereas the folder was the issue"
When saving `System Preferences` in Symphony and the `jit-image-manipulation` folder is not writable, an error message points to the `recipes` and `trusted-sites`  files instead of the `jit-image-manipulation` folder.

JIT v1.41

[2015-07-15 08:45] animaux opened #109 "Suggestion: handling SVG images"
When an SVG-Image is sent to JIT it currently doesn’t do anything useful. Maybe JIT should just pass through the original SVG if it detects one?

[2015-07-15 13:55] nitriques commented on #109
Hum... I've implemented something [similar here](https://github.com/DeuxHuitHuit/image_upload/commit/9e5d82575e231232645e552778b908301f1b589b) and it creates lots of if else clause...

I really think that the supporting svg (just by "letting it pass through") is not a responsibility of this extension.

A simple xsl choose should be enough (we even have a xsl template that properly handles it).

I'

[2015-07-15 14:04] animaux commented on #109
That’s what I did in the meantime. Maybe you’re right.

[2015-07-15 14:08] nitriques commented on #109
But maybe I am not ;) But adding svg support would add a lot of complexity (if ...  else ...) to the current code base. If we would refactor the code base to use the strategy pattern (one class for each mime type), it would not add a lot of complexity. But the current code base must be re-written for that.

[2015-07-15 14:11] animaux commented on #109
I see. Thanks for the inside info :)

[2015-07-15 14:23] nitriques commented on #109
My pleasure. I love to talk about those things :)

[2015-07-15 14:27] animaux commented on #109
:)

I tried to think thought about the implications of applying JIT to SVG. I wonder if there are any libraries around?

[2015-07-15 14:33] nitriques commented on #109
I do not know! Would be cool to be able to crop it! But you would not really save on bandwidth tho.

[2015-07-15 14:36] animaux commented on #109
Thinking further most use-cases of SVG that come to mind will not be the kind of images one would like to be cropped … but then again who knows? Good to have all the possibilities :)

[2015-07-15 14:43] nitriques commented on #109
Yup.

[2015-08-25 08:55] michael-e opened #112 "Release 1.42: Missing commit?"
In the master branch I don't see a single commit between tags 1.41 and 1.42: https://github.com/symphonycms/jit_image_manipulation/commits/master

Could it be that the relevant commit is missing?

[2015-08-25 12:21] brendo commented on #112
Not sure what the hell has happened here!

[2015-08-25 12:22] brendo commented on #112
Retagged as 1.43

[2015-08-25 12:22] #112 closed

[2015-10-26 06:11] nonozone opened #113 "Thumbnails are pixelated"
![2015-10-26_14-08-47](https://cloud.githubusercontent.com/assets/1277444/10722421/1d76d6ec-7beb-11e5-9219-0dc8e50fe56c.png)

I do not know where the problem.
the version of JIT is 1.43.

And the directory Manifest/cache  is empty

[2015-10-26 16:22] nitriques commented on #113
Can you check your quality settings ? And what the complete url for the image ?

[2015-10-27 00:59] nonozone commented on #113
The img  url address:  waysionhd.com/image/2/100/75/5/fff/upload/Products/mopro7-front-562d80e40e692.jpg ,you can change the JIT setting for test.

How to set the quality?

[2015-10-27 01:16] nonozone commented on #113
This is very strange. I just visit my website, thumbnail display is problematic. But I just try to modify the parameters of JIT, the image / 2/100/75/5 into image / 2/200/75/5, will not actually pixelated thumbnails, and then I have to go back and modify parameters, also did not problem. From yesterday to today, I have not changed any place, this is too bizarre. Now I do not know where exactly the

[2015-10-28 00:19] nitriques commented on #113
Check manifest/config.php. There's a section regarding jit image. (it's called quality). You can set a value between 10 and 100.

[2015-10-28 00:19] #113 closed

[2015-10-30 14:32] mprofitl opened #114 "Suggestion: Sharpen images"
Resizing images leads to lower sharpness. That's why it would be wonderful to have the option of sharping images automatically after resizing. GD library can do this with imageconvolution: http://php.net/manual/de/function.imageconvolution.php. I have tried to implement the code whoen at the end of this message but I failed.

It would be nice to
* activate sharpening in a recipe
* set a sharpening

[2015-10-30 15:01] nitriques commented on #114
Do you have any errors message ?

---

I really like this. I'd love to implement it, but now I am more urgent things to do, so I can't promise anything.

I would be more than happy to test and PR you may send.

[2015-10-30 15:23] michael-e commented on #114
We should keep in mind that "artificial sharpening" will only increase the subjective quality – if at all – on standard monitors, i.e. for standard resolution. With higher resolution (e.g. delivering images for Retina displays) I do not think that it can be an improvement, because it will merely increase the "artificial character" of an image.

Second point: Responsive design often requires images

[2015-10-30 17:22] nitriques commented on #114
@michael-e Great point. You seem to know a lot more on that topic then me :)

I'll follow your intuition then.

[2015-10-30 17:22] #114 closed

[2015-10-30 17:42] michael-e commented on #114
Well, I learned some stuff from graphics designers when I worked as a print journalist (a long time ago).

Sharpening an image means adding "(edge) overshoot". In simple words: You fool the human eye by artificially increasing contrasts. Of course you must try to keep the manipulated area as small as possible (so for screen images we talk about "single pixel width" lines). If you are really carefu

[2015-10-30 17:45] nitriques commented on #114
Indeed. Thanks for sharing :)

[2015-10-31 21:30] mprofitl commented on #114
Hello everybody, I am surprised and happy my suggested feature lead to such a discussion. Thanks for your thoughts so far.

Re-scaling images after sharpening makes no sense indeed. That's why a sharpen feature in JIT is useless for sites that scale images depending on screen size. The site I want to use sharpening for does scale – but only up to a certain size. Using a sharpen filter I could impr

[2015-10-31 23:20] michael-e commented on #114
No surprise. I once made a website for a photographer who manually (!) sharpened each and every picture on the site, and every one of them looked really great! But this was some years ago, we didn't have hi-res tablets or "Retina" Macs at that time. I am rather sure that today he wouldn't do it like this.

Regarding imageconvolution, I looked at the example on http://www.html5rocks.com/en/tutorial

[2015-11-20 01:02] nitriques commented on #114
I had the same. They are crazy.

[2015-12-14 11:05] cmnstmntmn opened #115 "extract main color of a photo to prevent FOUC"
it would be a nice enhancement to get the main photo color, to prevent [FOUC]
(https://en.wikipedia.org/wiki/Flash_of_unstyled_content)

<img width="564" alt="screen shot 2015-12-14 at 13 03 03" src="https://cloud.githubusercontent.com/assets/2312755/11779349/12a8fb84-a263-11e5-960c-f82939a85589.png">

[2015-12-14 12:08] brendo commented on #115
Do you know much about they achieve that effect? I'd be curious to how we support it as this is 'JIT' after all. Potentially this is an enhancement more for an upload field to extract the colour upon save so that it's available via the datasource and can be embedded into the XSLT.

Failing that, maybe the first time JIT runs it extracts this info and saves it in the database. All subsequent reques

[2015-12-14 12:18] michael-e commented on #115
If we save anything to the database, we also increase the potential damage ("data pollution") caused by a service/DOS attack. It would as well be much more complicated to drop the JIT cache (which then would be much more than a cache...).

I don't feel that such a feature should be baken into "just-in-time" (JIT) image manipulation. It might be a different extension, maybe.

[2015-12-14 13:47] cmnstmntmn commented on #115
an ideea
what about appending the hex value to the cached generated image file name.

**to get the img src**
[code]

**to get the hex value**
[code]

where `get-hex` would be a reserved for this action only

an [example](https://github.com/thephpleague/color-extractor) of how the color is beeing extracted with php

[2015-12-14 14:03] cmnstmntmn commented on #115
well, a batter solution would be to also include the recipe, becauze different thumbnails would have different 'main color' after cropping

[code]

[2015-12-14 17:14] nitriques commented on #115
I think it should yes. JIT and colors are two separate concerns. I would rather see it being baked in the image upload field rather then the JIT ext.

Warming up your cache may be a good solution to prevent FOUC.

---

I am curious to know why you need this :) It is because images are slow to load ??

[2015-12-14 18:57] cmnstmntmn commented on #115
yes, slow load is the main concern,
and, i also agree, that having it as, a different extension is better.

[2015-12-14 19:44] nitriques commented on #115
Great. So I'll close the issue for the mater being. One could check delegates to add the value in the database, but please think about sending a PR on image upload field if you want !

[2015-12-14 19:44] #115 closed

[2016-02-13 23:22] jurajkapsz opened #117 "JIT recipes: Serve SVG as `image/svg+xml`"
Not sure what is the https://github.com/symphonycms/jit_image_manipulation/issues/109 issue talking all about, but when a SVG image is ran through a JIT recipe, the SVG image is returned with an `octet-stream` header, but browsers await an `image/svg+xml` to display SVG.

I guess this is served as it is with native php, probably here [class.image.php#L172](https://github.com/symphonycms/jit_image_

[2016-02-14 02:29] brendo commented on #117
I'm curious, does JIT work as expected (aside from this) with SVG's? I would of thought there is fair bit that needs to change to enable SVG as PHP's `image_` functions generally don't handle it?

[2016-02-14 09:02] jurajkapsz commented on #117
I think only `direct` mode works with SVG, that is letting all the images through as they are; but SVG gets the octet mime header.

I am aware of this, I use in this particular case the `direct` mode, because I can have also SVG between images in this case.

I have solved this for now by using a real path to the images, but the mime type mentioned above is kind of wrong doing I would say, looks li

[2016-02-15 22:56] nitriques commented on #117
We can't support this. SVG cannot be 'jitted'

Please use xsl to check if it's svg and do not pass them to jit.

Yes, like, everything.

[2016-02-15 22:56] #117 closed

[2016-03-21 23:36] nitriques commented on #41
I guess that the preview feature is incompatible with this feature. I'll add a warning.

[2016-03-22 03:29] #69 closed

[2016-03-22 03:30] nitriques commented on #73
Extending will work starting at version `2.0.0`.

Thanks a lot @brendo for this major rewrite. :+1:

[2016-03-22 03:30] #73 closed

[2016-04-26 01:13] #41 closed

[2016-04-26 01:13] #97 closed

[2016-04-26 01:13] #104 closed

[2016-04-26 01:13] #107 closed

[2016-04-28 06:45] animaux opened #120 "Problems with square source images in JIT 2"
Apparently JIT 2 chokes on square images in Mode 4 if the output is square too:

If the source image is 800×800px:

  …/image/4/400/400/img/bilder/schelling-von-halbig-1-1459074525.jpg

this render the invalid dimensions error, whereas

…/image/4/400/401/img/bilder/schelling-von-halbig-1-1459074525.jpg

works as expected.

![hueylhtbs5510406786331740](https://cloud.githubusercontent.com/assets/446

[2016-04-28 06:58] animaux commented on #120
When using the same settings in a recipe Symphony throws:

    Symphony Fatal Error: No JIT filter was found for this request.

Not sure if this is a result of the error above or a different issue.

Reverting back to `JIT 1.4.4` (including the .htaccess-rules) solves both issues. Which also leads me to the point that the rewrite rules in the readme should be updated to the current version in 2.0.0

[2016-04-28 11:36] animaux commented on #105
@cmnstmntmn a long time ago in a galaxy far away … http://www.getsymphony.com/discuss/thread/32795/4/#position-69

[2016-04-28 11:36] animaux commented on #105
I ended up using canvas in the frontend to watermark an image.

[2016-05-01 19:42] nitriques commented on #105
Not bad.

[2016-05-01 19:51] animaux commented on #105
And the bonus is canvas actually gives you an extra-layer of protection. Though obviously people who are able to read the source will find the original file if it’s not obfuscated.

[2016-05-01 20:00] nitriques commented on #120
Done in c7cd618

Done in 3d92d82

Would you mind testing against the `integration` branch to see if the "no filter found" error persists ?

Thanks!

[2016-05-01 20:01] nitriques commented on #120
@brendo Would you mind reviewing 3d92d82 ? Thanks!

[2016-05-01 20:01] animaux commented on #120
Sure, will try tomorrow!

[2016-05-01 20:02] nitriques commented on #120
Thanks @animaux

[2016-05-01 20:03] nitriques commented on #105
Totally. But if I ever have a client which requires it, I'll implement it server side ;)

[2016-05-02 06:25] animaux commented on #105
Let me know when you do :·D

[2016-05-02 06:31] animaux commented on #120
Sorry to report: All above mentioned problems persist in `integration`.

[2016-05-02 06:35] animaux commented on #120
Plus in `mode 2` JIT seems to ignore the smaller value. Weird.

[2016-05-02 14:06] nitriques commented on #120
Well I do not know what to do as I can't seem to reproduce the error anymore. I'll check the mode 2 ASAP.

[2016-05-28 15:07] vdcrea opened #121 "Resize and crop, only crops"
It seems that "resize and crop" only crops images, without resize. Or am I mistaken?

[2016-05-28 15:19] vdcrea commented on #121
If it s the case, the error could come from filters/filters/filter.resizeandcrop.php

Line 55/56 $src_r and $src_d seems to be the same, both ratio calculated from meta width and meta height, and not with params.

[2016-05-30 01:45] nitriques commented on #121
Results must be called with meta value, as meta should prevent upscalling.

The problems I see right now are related to division by 0. Please make sure to disable the cache option or manually clear the cache between test runs ;) (I got bitten by that)

[2016-05-30 06:18] vdcrea commented on #121
I have tested the last integration branch, using the url params. A rule of /2/200/200/5/fff/ output an imagine a 200 x 300 px, the source image is cropped a position with no resize. I thought the rule 2 did the following operations:

- scale source image respecting ratio so the smallest side of the image is 200px
- then crop the outer largest sides to output the expected size from params

Position

[2016-05-30 14:22] nitriques commented on #121
Ok thanks! I have a couple of unpushed commit. I should be able to push them today. Thanks!

[2016-06-01 02:07] nitriques commented on #121
Hey @vdcrea ! After pulling my hair a lot, I think I've found it! Wanna test the patch ?

[2016-06-02 08:34] vdcrea commented on #121
Thx Nicolas! Sure I will test tonight after work.

[2016-06-02 16:59] nitriques commented on #121
Thanks a lot! I have more commits coming. Trying to refactor the whole base code because right now, it's cryptic and easy to break ;)

[2016-06-02 21:06] vdcrea commented on #121
Ok, for now I have strange result with last commit (931cf04):

2/350/400/5/ccc
![2-350-400-5-ccc](https://cloud.githubusercontent.com/assets/1126750/15760999/32831f9a-2916-11e6-84de-36d5dc45ec14.jpg)

From this original file
![original](https://cloud.githubusercontent.com/assets/1126750/15761013/4a8aa6bc-2916-11e6-8efb-ebffafc62ca9.jpg)

I will be happy to test your next version ;-)
Cheers and tha

[2016-06-02 22:02] nitriques commented on #121
Yeah last commit is not yet stable... Can you please just test the mentioned commit please ? Thanks!

[2016-06-07 00:54] nitriques commented on #121
@vdcrea Can you please test the latest `integration` branch ? All bugs should be done. I've made extensive testing and refactored all filters. Thanks ! cc @brendo @michael-e

[2016-06-07 00:54] nitriques commented on #120
@animaux Can you please test the latest `integration` branch please ? Thanks!

[2016-06-07 01:12] nitriques commented on #60
As of today, this is fixed! Yeah!

[2016-06-07 01:12] #60 closed

[2016-06-07 06:47] animaux commented on #120
[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (image.php, line 0)

I now get links like:

    http://…/extensions/jit_image_manipulation/lib/image.php/?param=2/136/136/5/img/bilder/20080718_25-b-pikto-800-neu-1420714412.jpg

Following these links results in a 500.

[2016-06-07 08:25] nilshoerrmann opened #122 "Fatal error: Call to undefined method General::checkFile()"
While trying to update JIT Image Manipulation from version 1.41 to 2.0.1 (`integration`) the following error is thrown:

We are using Symphony 2.7.0.beta1. The same error is shown when using JIT 2.0.0.

![bildschirmfoto am 2016-06-07 um 10 25 27](https://cloud.githubusercontent.com/assets/25466/15850789/2ecc5452-2c9a-11e6-8747-81b329e9c193.png)

[2016-06-07 09:16] nilshoerrmann commented on #122
Just as a sidenote: the function in question _does exist_ in the given install. It seems like something is not referenced/imported correctly.

[2016-06-07 14:24] nitriques commented on #120
Yeah, can you please update your .htaccess rule please ? Is this a new install ?

[code]

[2016-06-07 14:25] nitriques commented on #122
Hum, this is pretty weird. Do you have the complete stack trace ?

[2016-06-07 14:44] animaux commented on #120
URLs now look better, I still get 500s for each image though. Will check the logs.

[2016-06-07 14:46] nitriques commented on #120
Hum... Anything in php's `error_log`?

[2016-06-07 14:47] animaux commented on #120
It’s running `PHP 5.6.10`

From the Symphony-Log:

    07. June 2016 16:43 > UNKNOWN: ErrorException 0 - Illegal string offset 'allow_origin' on line 289 of /…/extensions/jit_image_manipulation/lib/class.jit.php

[2016-06-07 14:55] nitriques commented on #120
Ah damn it. I'll fix this ASAP. Been testing it mostly on old 5.3. Bad me.

[2016-06-07 14:57] nilshoerrmann commented on #122
Hm, I just tried to install 2.0 again and now it worked.
Can this issue possibly be related to https://github.com/symphonycms/symphony-2/issues/2600?

[2016-06-07 14:58] nitriques commented on #122
I do not think it can... The general class has been there forever... Well, I'm glad it's working!

[2016-06-07 14:59] animaux commented on #120
No worries. Thanks!

[2016-06-07 15:01] nilshoerrmann commented on #122
One idea: When updating my install, we had 1.41 installed. After the problems with 2.0.1 we "downgraded" to 1.45 which was actually still an upgraded from our initial version.

This and the command suggested in https://github.com/symphonycms/symphony-2/issues/2600 were the only changes in the install except a few template edits.

[2016-06-07 15:13] nilshoerrmann commented on #122
I just downgraded to 1.41 and tried to upgrade to 2.0.1 and it still works.
So it must be related to https://github.com/symphonycms/symphony-2/issues/2600.

[2016-06-07 15:24] nitriques commented on #122
Hum I'll fiddle with this.

How did you downgrade ?

[2016-06-07 15:31] nitriques commented on #120
@animaux can you test ae4de7 ? Thanks!

[2016-06-07 15:40] nilshoerrmann commented on #122
I replace the extension with the older version (1.41) and installed it (this did reset the version number in the database). Lucking at the extension driver nothing had to change on the file system. I then uploaded version 2.0.1 again an run the updater again.

[2016-06-07 16:28] nitriques commented on #122
Ok thanks, I'll try to replicate

[2016-06-07 18:23] nitriques commented on #106
Hey @michael-e this should be fixed!

[2016-06-07 18:26] nitriques commented on #106
Sorry I had to rebase :(

[2016-06-07 18:32] nitriques commented on #122
On my local setup, clean 2.7.x symphony, no other extension then JIT.

1. `git checkout 1.41`
1. install
1. `git checkout integration`
1. update

Everything worked. Or am I missing something ?

[2016-06-07 18:52] nilshoerrmann commented on #122
No, you're not missing anything.

I've tried to reset things to the initial state in order to recreate the problem. Either reinstalling version 1.41 and updating to 1.45 fixed the issue or using the command Brendan mentioned in https://github.com/symphonycms/symphony-2/issues/2600 must have fixed the cause of this issue. At least I'm not able to recreate the original error, everything is fine here

[2016-06-07 19:02] nitriques commented on #122
AAAWWWEEEESSSOOMMMEE !

[2016-06-07 19:02] #122 closed

[2016-06-07 19:03] nitriques commented on #122
BTW, when `2.7.x` will be release, you should not need to run `composer`. I will do it and then commit the results.

[2016-06-07 19:14] nilshoerrmann commented on #122
Great, thanks!

[2016-06-07 20:13] vdcrea commented on #121
This is just PERFECT! :-D Thank you very much for this fix of this awesomeness.

[2016-06-08 02:06] nitriques opened #123 "Version 2.1.0"
I would be ready to release `2.1.0`.

Please test the latest `integration` branch. Thanks.

[2016-06-08 06:25] animaux commented on #120
I’ve tried Mode 2. Looking good so far.

[2016-06-08 06:25] animaux commented on #120
From `integration`

[2016-06-08 12:20] DavidOliver opened #124 "Broken layout (integration branch)"
![screenshot from 2016-06-08 14 16 09](https://cloud.githubusercontent.com/assets/192853/15894059/013a12b4-2d84-11e6-9ec2-201b44811a67.png)

Symphony 2.7.x branch in both Firefox and Chromium.

[2016-06-08 12:25] DavidOliver opened #125 "'Direct display' replaced with 'New recipe'"
![screenshot from 2016-06-08 14 22 21](https://cloud.githubusercontent.com/assets/192853/15894142/8da30e36-2d84-11e6-8e65-9b954c00ad56.png)

In the New recipe adder, there's now a 'New Recipe' select option. Shouldn't this still be 'Direct display' as in previous versions? Using it results in a recipe type of 'New recipe'.

[2016-06-08 13:29] DavidOliver opened #126 "readme doesn't contain the latest Apache rewrite rule"
If I understand correctly, the rule has been simplified so as not to include file type extensions. (Is this because JIT now checks image type itself?) The readme doesn't yet contain the simplified rule.

By the way, it's useful to have the rule in the readme as we do for those of us who need to convert the rule to non-Apache rewrites.

[2016-06-08 13:53] DavidOliver opened #127 "max-age config and header are missing"
The `max_age` key/value are not in the `image` array in config.php.

The `max-age` header is not being sent with image responses, whether or not the `max_age` config is present. The `X-jit-mode` and `X-jit-cache` headers are sent. (By the way, what's the purpose of sending these headers?)

`$parameters['last_modified']` doesn't seem to be set in `sendImageHeaders($parameters)`. I'm testing with lo

[2016-06-08 13:59] DavidOliver commented on #123
Thanks, @nitriques. I've opened a few issues marked with "(integration branch)".

[2016-06-10 00:39] nitriques commented on #120
Great!

[2016-06-10 00:42] nitriques commented on #124
Hum, you are the one who proposed to break it  ! 0f72a2ca732d6c56a0e49e4f3ef146e65310696c haha

Jokes aside, how would you fix it ? with a `<br />` ?

[2016-06-10 00:44] nitriques commented on #125
'Direct display' has never been documented (I was not even aware it existed before I found the rule about it). It was also not implemented in @brendo's refactor into a symphony renderer.

We should add a warning in the README and release notes about this removal.

[2016-06-10 00:46] nitriques commented on #126
This move was made years ago. It never caught my eyes that it did and I integrated a regression doing so (See #75 )

A 2.1.0 update section will be created. Thanks!

[2016-06-10 00:50] nitriques commented on #127
The `max-age` config has been renamed to `max_age` (see 1f63146f3f34be667f43fb6cc1b87aa59a403b50) and does work using the latest version under Apache. This has been documented in 7a1312848d42ef2779dda0b139eb1a08e8a80ed9

DEBUG on production servers!

You are right. I'll fix this. Thanks!

[2016-06-10 00:51] nitriques commented on #123
Thanks @DavidOliver, that is exactly what I wanted!

[2016-06-10 01:20] nitriques commented on #127
Should be fixed! Can you confirm ?

[2016-06-10 01:37] nitriques commented on #127
BTW, some headers are not being sent when doing OPTIONS or HEAD request.

I'll dig deeper on this.

[2016-06-10 13:53] DavidOliver commented on #127
I'm now seeing the max-age header. Thanks!

Isn't it best to avoid leaking software info like this? Could we only send them if a valid developer session exists?

[2016-06-10 13:55] DavidOliver commented on #125
Okay, thanks. So the ability to add a new recipie with the 'New recipe' option needs to be disabled then. Renaming issue.

[2016-06-10 14:05] nilshoerrmann commented on #59
This issue is still present in version 2. It worked in the latest iterations of version 1 though, where transparency stayed intact.

[2016-06-10 14:08] nilshoerrmann commented on #124
Why don't you add the help text in an additional row right after the label (using a classic line-break)?

[2016-06-10 14:10] DavidOliver commented on #124
Ah :)

I don't think having the info aligned to the right works very well in general for these checkboxes, evem when the info text is much shorter.

![screenshot from 2016-06-10 16 09 36](https://cloud.githubusercontent.com/assets/192853/15966991/d9b6ec5a-2f25-11e6-89f6-d42dc85d785b.png)

Make it left-aligned and under the main label text, as I think Nils is suggesting?

Also, the labels aren't ve

[2016-06-10 14:12] nilshoerrmann commented on #59
Sorry, I now cleared the Symphony cache and the issue is gone again.
PNG transparency works as expected.

[2016-06-10 16:54] nitriques commented on #59
So the issue is fixed ? :) After 3 years, not bad!

[2016-06-10 16:55] nitriques commented on #124
Damn floats :p

Sold! Thanks guys!

[2016-06-10 16:56] nitriques commented on #127
Yup will do. The cookie (for now) is sent for all images requests.

- [ ]  only send them if a valid developer session exists

[2016-06-10 16:58] nitriques commented on #125
Perf!

- [ ] disable button when 'New recipe' is selected
- [ ] We should add a warning in the README and release notes about this removal.

[2016-06-14 02:49] nitriques commented on #127
@DavidOliver All fixed in latest `integration`. Wanna test ? :)

[2016-06-14 03:05] nitriques commented on #125
This should also be fixed in the latest `integration`

[2016-06-14 03:26] nitriques commented on #124
Adding a simple line-break in the i worked for screens > 950. I can live with that!

[2016-06-14 03:26] nitriques commented on #124
Are alignement problems fixed @DavidOliver ?

[2016-06-14 03:46] nitriques commented on #126
Done! @DavidOliver Can you please review ? Thanks!

[2016-06-14 03:48] nitriques commented on #123
I should have fixed everything, and more bug fixes in the latest `integration` branch.

[2016-06-14 09:48] DavidOliver commented on #124
Technically, yes, though as mentioned the warning being aligned right doesn't work well here; it appears to relate to the 'Add recipe' UI when the viewport is reasonably wide.

![screenshot from 2016-06-14 11 43 13](https://cloud.githubusercontent.com/assets/192853/16038489/6ab11486-3225-11e6-9a78-f7489d36fd67.png)

Ideas:

- move warning below the main label text
- use an info icon with a title (

[2016-06-14 09:53] nilshoerrmann commented on #124
I'm not sure if you misread my idea, but I was thinking of something like this:

![bildschirmfoto am 2016-06-14 um 11 52 23](https://cloud.githubusercontent.com/assets/25466/16038700/8e43f322-3226-11e6-97ae-81b86c342480.png)

[2016-06-14 12:40] DavidOliver commented on #127
`max-age` is still working for me in Hiawatha, and the debug headers are not sent when not logged in. Thanks!

[2016-06-14 12:40] #127 closed

[2016-06-14 12:41] DavidOliver commented on #126
Cool - thanks.

[2016-06-14 12:41] #126 closed

[2016-06-14 12:46] DavidOliver commented on #125
Thanks! I notice the removal of direct mode isn't mentioned in the readme. Will it be noted in the release notes at GitHub?

[2016-06-15 01:20] nitriques commented on #125
Well direct mode was never part of the readme. But yeah, it will be noted in the release notes on GitHub

[2016-06-15 01:21] nitriques commented on #124
I totally did. That's better!

[2016-06-15 03:01] nitriques commented on #124
434f7be is the closest I can get without creating new css classes or using inline styles. The only difference with @nilshoerrmann's proposal is the fact that the  warning label's text is not aligned with the checkbox label's text.

Are we ok with it ?

![screen shot 2016-06-14 at 11 00 20 pm](https://cloud.githubusercontent.com/assets/771169/16066745/de7fa09a-3283-11e6-80e0-bad4f92ba582.png)

[2016-06-15 03:01] nitriques commented on #124
BTW, the screen shot has selected text, (backend), sorry about that.

[2016-06-15 09:39] DavidOliver commented on #124
I'm still of the opinion that we don't need to show this all the time in the Preferences page. (See my (i) idea above.) But if it's included then I think your new version is a lot better than the right-aligned version. :)

[2016-06-15 09:44] DavidOliver commented on #125
Okeydoke. I only mentioned it as you listed it being in the readme as a todo above. Thanks a lot for sorting this.

[2016-06-15 22:14] nitriques commented on #125
Thanks for testing!

[2016-06-15 22:15] nitriques commented on #124
Great. Thanks. @nilshoerrmann any comments ?

[2016-06-16 06:30] nilshoerrmann commented on #124
From a designer's perspective, these two lines should be aligned properly – using CSS classes of course :)

I'm not sure if this changed in the meantime, but in the past Symphony never hid this kind of content. So a tooltip-like layout sounds counter-intuitive in the context of the Symphony 2 design system. I'm not saying that this shouldn't be changed, but if it was to be changed, this features s

[2016-06-17 02:39] nitriques commented on #124
:) That's how you can tell I am no designer! I'll see what I can do. If I add this class in the core or not. Thanks!

[2016-06-21 07:20] nilshoerrmann commented on #59
Oh, hang on. The issue just popped up again. Example here at the page bottom: https://durchgedreht24.de/festival/2015/

![bildschirmfoto am 2016-06-21 um 09 18 49](https://cloud.githubusercontent.com/assets/25466/16221110/3b8be62e-3791-11e6-8894-036e230e69aa.png)

The logo in the lower right corner is the only one without transparent background (it has a white background defined).

[2016-06-21 07:21] nilshoerrmann commented on #59
There is an other old issue (#3) describing this problem that was fixed like this 5 years ago – maybe that helps finding the culprit: https://github.com/symphonycms/jit_image_manipulation/commit/a0f38e59704d0f600565d21b5ed73584d3755e3c

[2016-06-21 08:31] nilshoerrmann opened #129 ""No JIT filter was found for this request""
Using the `integration` branch, I find this message quite a few times:

What does this error message mean. Is this an usage problem on the front-end or is something inside the extension broken?

[2016-06-21 09:07] brendo commented on #129
My guess is frontend, is means the incoming request wasn't able to be parsed to one of the filters that exist in the project, https://github.com/symphonycms/jit_image_manipulation/tree/integration/filters

[2016-06-21 09:43] nilshoerrmann commented on #129
No, I don't. I just found these entries in the logs while investigating other issues. Would be helpful, if the error log could feature this information.

[2016-06-21 15:53] wdebusschere opened #130 "External image problem"
Latest Symphony + jit_image_manipulation 2.02

External images not working:
path: http://localhost:8080/www.site.ext/image/1/640/480/1/www.externaldomain/pictures/2787AL.jpg

Debugging i see that $parameters['external']  should be $parameters['settings']['external']

 public function fetchImagePath(array &$parameters)
    {
        // Fetch external images
   if ($parameters['external'] === true)

[2016-06-22 20:46] nitriques commented on #130
Thanks @wdebusschere

[2016-06-23 00:37] nitriques commented on #129
@nilshoerrmann d3efada should help you out. The exception you are having result in asking jit for something that is not valid, which anybody with a browser can do. At least, you'll see more info in the logs.

[2016-06-23 00:52] nitriques commented on #59
The `__fill` function did not changed much. It's pretty much the same.

Also, I've downloaded one of your logos, and it's working on my machine with the latest integration branch, both with and without cache.

Which version of GD are you running ? (Check the `GD_VERSION` constant)

[2016-06-23 06:47] nilshoerrmann commented on #129
Thanks, Nicolas. That will help debugging.

[2016-06-23 06:47] #129 closed

[2016-06-23 08:04] nilshoerrmann commented on #59
Checking the GD version was a good idea: It seems as if our hoster changed the server settings and only ImageMagick was installed alongside PHP 5.6. If I downgrade to PHP 5.4, I've got GD `bundled (2.1.0 compatible)`. The problem doesn't change though (all caches cleared, different browsers etc.).

[2016-06-23 14:44] nitriques commented on #129
My pleasure!

[2016-06-23 21:03] nitriques commented on #59
Damn. You're running the latest `integration` ? Still can reproduce.

[2016-06-23 21:44] nitriques commented on #124
@nilshoerrmann I am having troubles aligning this: the checkbox is width auto, which makes it non-deterministic.

Also, I really wonder how we never got this problem before.

In vlad's multilingual extension, he simply used a p to create space between the warning and checkbox. But the text is align with the container, not the checkbox's label...

Any ideas ?

[2016-06-24 06:41] nilshoerrmann commented on #59
I'll check, if we are missing commits, but I think we are using latest Symphony 2.7 and latest `integration` of JIT.

[2016-06-24 07:04] nilshoerrmann commented on #124
If this gets too complicated, change the markup as follows:

[code]

This will properly set the paddings and margins, only the indentation will be missing. It's not the best structural solution (it breaks the list character of the checkboxes) but it would at least be consistent with the other help texts of this settings group (see the `Leave empty to …`).

![bildschirmfoto am 2016-06-24 um 09 00 3

[2016-06-24 07:47] nilshoerrmann commented on #59
I updated the extension again and this seems to work now. I'm not really sure why but I'm happy that it does. Thanks for your help, Nicolas!

[2016-06-24 07:47] #59 closed

[2016-06-24 07:49] nilshoerrmann opened #131 "2.1.0: Wrong file permissions"
Using the `integration` branch of this extension, it seems that the cached image files don't respect the `write_mode` settings from the Symphony config.

Example: Even if I set `write_mode` to `0777` the resulting image will be saved with `0644`.

[2016-06-24 16:06] nitriques commented on #124
This is exactly what we already have in the multilingual extensions. I am ok with it. Thanks Nils.

[2016-06-24 16:08] nitriques commented on #131
You should try to avoid this ! 😉

But yeah, it's bug.

[2016-06-24 16:08] nitriques commented on #59
Great! Please reopen if you encounter it again.

[2016-06-24 18:09] wdebusschere opened #132 "Call to undefined method Image::applyFilter()"
Symphony 2.6.7
.htaccess
### IMAGE RULES
RewriteRule ^image\/(.+\.(jpg|gif|jpeg|png|bmp))$ extensions/jit_image_manipulation/lib/image.php?param=$1 [L,NC]

php_error.log
Call to undefined method Image::applyFilter()

[2016-06-27 08:58] wdebusschere commented on #132
$image->applyFilter( 'resize', array($width, $height) );
field.image_upload.php Line 60.

[2016-06-27 09:00] wdebusschere opened #133 "Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 29440 bytes)"
Uploading image of 3Mb doesn't work anymore..
php.ini: memory_limit  = 256 (or -1) doesn't fix it

[2016-06-27 16:58] nitriques commented on #133
`memory_limit` is for the RAM. It has nothing to do with file uploads.

You need other configs. Make sure post_max_size is always bigger then upload.

[code]

[2016-06-27 16:58] #133 closed

[2016-06-27 16:59] nitriques commented on #133
Also, uploads has nothing to with the extension.

If the problem is resizing a 3Mb image, yeah, that has never worked.

[2016-06-27 17:00] nitriques commented on #132
Can you try the `integration` branch ?

[2016-06-27 17:03] wdebusschere commented on #133
Is there solution to resizing a 3MB image?

[2016-06-27 17:06] nitriques commented on #133
Buy a server with more RAM or use cloudinary. I also run a server with a 256Mb limit and it can't handle resizing image larger than 1.5Mb. The best thing to do is to set maximum sizes using image_upload.

[2016-06-27 17:07] wdebusschere commented on #133
Ok, image size is the problem 900kb image with width 7000px also gives the error.

[2016-06-27 17:08] michael-e commented on #133
Are you sure? JIT 1.x works fine for me with much bigger images. The error message in the issue's title suggests that the script tried to allocate more than 134217728 bytes (as mentioned) — that is a 128 MB memory limit, which should not be reached with a 3MB image.

[2016-06-27 17:09] wdebusschere commented on #132
Seems to work, but my thumbnails in symphony are not displayed with
`RewriteRule ^image\/(.+.(jpg|gif|jpeg|png|bmp))$ extensions/jit_image_manipulation/lib/image.php?param=$1 [L,NC]`

[2016-06-27 17:14] michael-e commented on #133
Ok, I guess that it depends on the physical image size in pixels, i.e. not on the file size?

With 16MB RAM, I can successfully process a 6 Megapixel image. Haven't tested with much bigger images though.

[2016-06-27 17:16] nitriques commented on #131
@nilshoerrmann it seems like it never did... Or I just can't find where it did. Can you confirm that it's a regression ?

[2016-06-27 17:19] nitriques commented on #133
Exactly. All images becomes bitmaps in memory, and we keep the original and the resized version of those bmps in memory. So yeah, a 3Mb image can eat more than 128Mb

Yes. Check http://php.net/manual/en/function.imagecreatetruecolor.php

it all boils down to `memory_limit` on a 64Gb server, I still set it to 512M to prevent memory exhaustion.

[2016-06-27 17:20] nitriques commented on #132
Hum did you run the update script ? it should take care of this...

[2016-06-27 17:20] nilshoerrmann commented on #131
No, I can't confirm that.
It's just not working as I expected.

[2016-06-27 17:22] michael-e commented on #133
Now I tried a really big image: 39 Megapixels (file size: 16MB).

* `php_value memory_limit 256M` — it works
* `php_value memory_limit 16M` — it still works
* `php_value memory_limit 8M`— it breaks

[2016-06-27 17:23] michael-e commented on #133
How can that be???

[2016-06-27 17:25] nitriques commented on #133
Did you turn off the cache before testing ?

[2016-06-27 17:25] nitriques commented on #133
- 256M got the cache
- 16M got the cache
- 8M cache could not fit in memory... ?

[2016-06-27 17:27] nitriques commented on #133
And what's the destination size ?

[2016-06-27 17:28] nitriques commented on #133
Checking the memory needed before doing the operation would also be wise...

[2016-06-27 17:29] nitriques opened #134 "Checking the memory needed before doing the operation"
This could prevent memory exhaustion attacks.

See http://php.net/manual/en/function.imagecreatetruecolor.php

[2016-06-27 17:29] nitriques commented on #131
Ok! And what was the permission on the cache folder ?

[2016-06-27 17:29] nitriques commented on #131
Is the user running the php script owner of the folder ?

[2016-06-27 17:35] michael-e commented on #133
The destination size in this test was very small, something like 120 Pixels wide.

[2016-06-27 17:37] nilshoerrmann commented on #131
The folder was set to `0777` and the user and owner were different.

[2016-06-27 17:37] michael-e commented on #133
Unfortuantely I can't test too much on this production system, it's the "big one". (I even took all websites down during the tests by setting the memory size too small, hehe...) I don't have any test/development system at the moment.

[2016-06-27 17:47] nitriques commented on #133
That helps a lot.

[2016-06-27 17:50] nitriques commented on #131
So I guess you apache umask must be 133 or something like it.

I my setups, all folder and file are own by the php process and 644 is what I want ;)

I guess that it's only because we do not use Symphony's writeFile function (we use GD to save image on disk) but a chmod operation could be made.

[2016-06-27 22:52] michael-e commented on #133
I love to work on the production system!

Well, no. The cache gets purged when "something" is saved — which I did. I often break things. But nobody ever complained, because my "dev outages" never last long, which is so much better than elsewhere on the web. :-)

[2016-06-28 16:49] nitriques commented on #133
Ahaha!

Well I can't explain it with the fact that your thumbnail is kindof small. Mines are often +600px wide

[2016-06-28 19:44] michael-e commented on #133
Nope. I just performed the following extreme test:

* `php_value memory_limit 256M`
* original image: 5410 × 7210 pixels, 16,8 MB
* output size: 15000 x 19991 pixels (approx. 300 Megapixels!), 23,5 MB (JIT quality setting: 90)

It works. :-)

[2016-06-28 19:46] michael-e commented on #133
(Admitted: I had to increase the max. execution time.)

[2016-06-28 19:51] nitriques commented on #133
Wow this is crazy. Which version of PHP + GD do you run ?

[2016-06-28 19:59] michael-e commented on #133
* PHP Version: 5.6.22-0+deb8u1
* "GD headers Version": 2.1.1-dev

[2016-06-28 20:45] nitriques commented on #133
Ubuntu ?

[2016-06-28 20:49] michael-e commented on #133
Nope, Debian.

[2016-06-28 20:53] nitriques commented on #133
Potato-Tomato ;)

[2016-06-28 20:54] nitriques commented on #133
But that's interesting considering that I may implement the test the memory available before doing the operation thingy.

[2016-06-28 20:56] michael-e commented on #133
Yes. I have no explanation for your issues (resp. my no-issue).

[2016-06-29 22:02] nitriques commented on #131
@nilshoerrmann would you happen to know why the default value for the `General::uploadFile()` method is 0777 ? or maybe @brendo or @michael-e would ?

[2016-06-29 22:03] nitriques commented on #124
@nilshoerrmann what about changing the order of the checkboxes to put disable dynamic last in the list ?

[2016-06-29 22:04] michael-e commented on #131
What do you mean by default value? Is there some default in the code that gets overriden by the Symphony configuration?

[2016-06-29 23:36] nitriques commented on #124
![screen shot 2016-06-29 at 7 36 04 pm](https://cloud.githubusercontent.com/assets/771169/16472260/c8a3caea-3e30-11e6-9ee6-6a6700d13a60.png)

[2016-06-30 08:02] nilshoerrmann commented on #131
I don't understand the question, sorry.

[2016-06-30 08:03] nilshoerrmann commented on #124
Looking good 👍

[2016-06-30 10:09] jude86-7 opened #135 ".htaccess exists but is not writeable"
I'm trying to update the jit extension from 1.44 to the integration (2.0.2?) branch however when I go to update the extension I get the error 'htaccess exists but is not writeable'.

I've tried the .htaccess file with 664 and 666 permissions with the same owner/group as the other files but nothing seems to work.

does anyone have any ideas where I'm going wrong or come across this before?

many th

[2016-07-04 14:52] nitriques commented on #135
Is the owner of the file the same user as the user which runs the php executable ?

[2016-07-04 14:53] nitriques commented on #124
Great!

[2016-07-04 14:53] nitriques commented on #131
The default value for the parameter in the function. It's never used in the core (we always set a value on the call site).

[2016-07-04 16:09] michael-e commented on #131
I just guess it is there because otherwise the process would break (if no param is set when calling it). One might as well throw an exception instead… But is this more useful?

[2016-07-04 16:32] nitriques commented on #131
I would just set the default value to 0644, like we did in writeFile...

[2016-07-04 17:36] michael-e commented on #131
Default permissions of 0777 are pretty dangerous, generally. So I agree, unless @brendo knows why it was done this way.

[2016-07-04 17:52] nitriques commented on #131
Indeed!

[2016-07-07 00:08] nitriques commented on #131
Since we never had any return from @brendo I `git blame`'d the thing and it was set to 0777 in rev5 (https://github.com/symphonycms/symphony-2/commit/7f90fa0542e9cda6c8f5edc23604b536f7c9efe8)

So I went ahead with changing the default to `0644`.

[2016-07-07 00:19] nitriques commented on #131
@nilshoerrmann can you confirm that b5584e0 fixes your problems (i.e. the `write_mode` is properlly set) ? Thanks!

[2016-07-07 00:25] nitriques commented on #124
31ac2c6 implements the code need to get the screenshot.

[2016-07-07 00:58] nitriques commented on #133
7f98c78 won't solve this problem, but could reduce the lot on the server. Use with caution.

[2016-07-07 00:59] nitriques commented on #123
I should have fixed everything, and more bug fixes in the latest integration branch. (bis).

Anybody want to test before the release ?

[2016-07-07 01:00] nitriques commented on #135
Ping ? Did you tried 644 ? Some php setups (like suphp and suoshin) are picky about file perms...

[2016-07-07 06:03] nilshoerrmann commented on #131
I'll check that out later today.

[2016-07-07 07:50] jude86-7 commented on #135
hi sorry, I've been caught up with a deadline the last few days. I've tried 644, 664 and 666 nothing seems to work. The owner is the same as all other files on the domain, which seem to be read/writing okay. I'll try going back to my tech guys on the server to see if there's something amiss on their end, it could be because I'm working in a sub folder on our test server.

does the extension need a

[2016-07-08 02:12] nitriques commented on #135
That could be the reason yes.

Nope!

This should be perfect, as long as the user running php is the same as the owner of the files/folders.

Thanks for reporting it !

[2016-07-08 02:12] nitriques commented on #131
Perf, thanks!

[2016-07-08 02:14] nitriques commented on #135
Also make sure that your root (in your case, the subfolder) is writable too.

[2016-07-08 07:44] nilshoerrmann opened #136 "Purge cache on file change"
It often happens that clients update images in the backend: similar but edited file, same name, but different. JIT doesn't notice this change and still serves the outdated cache file.

I know that using a different name circumvents this issues but I'd expect JIT to purge the cache for a file when it is edited or deleted by Symphony.

[2016-07-08 08:08] michael-e commented on #136
Even if JIT created a new cache file, the client (browser) would still obey the cache headers of the old file. You can not "unset" the cache headers of a file which has already been delivered to a client. In order to ensure that the client actually requests the new file, you either need a new name (e.g. with the Unique Upload Field) or the cache for your files set to 0 (not recommended).

[2016-07-08 08:33] michael-e commented on #136
Have you ever seen a user clearing the browser cache?

You are right when you say that it is incorrect resp. unexpected behaviour, but I think that a fix would introduce complexity while being pointless at the end of the day. You might prove me wrong. :-)

[2016-07-08 08:50] nilshoerrmann commented on #136
Yes, actually I've seen it many times. We actually have clients telling us that they cleared the cache before we instructed them to do so.

It's not unexpected behaviour. The served file is simply wrong. That's a bug, not a personal taste :)

[2016-07-08 09:02] nilshoerrmann commented on #136
For reference, [Cacheable Data Source](https://github.com/symphonists/cacheabledatasource) clears the related cache on save.

[2016-07-08 09:36] michael-e commented on #136
I meant "all the other users", not clients. Or does your website contain a warning like "please drop your cache every time you request a page" (which wouldn't help with proxies anyway).

One might debate that. If you identify a resource using a URI/URL, are you really "technically allowed" to change that resource to your liking? A newer version of a person's portrait? No prob. A completely differe

[2016-07-08 09:48] nilshoerrmann commented on #136
It does. Serving the correct image from the server.

I'm never in control of what the site visitor sees – there is the browser cache, there are network connectivity issues and such. I'm aware of all this. But I have control over my server, and my server is serving something wrong. If I "know my cache headers" has nothing to do with this at all.

This as well is a discussion worth to pursue, but it

[2016-07-08 10:34] nilshoerrmann commented on #131
It works as advertised.
Thanks, Nicolas!

[2016-07-08 10:34] #131 closed

[2016-07-08 14:07] nitriques commented on #131
Awesome!

[2016-07-11 15:44] wdebusschere opened #137 "External image isImageAlreadyCached problem"
Warning: GenericErrorHandler 2: filemtime(): stat failed for /Users/xxx/Sites/www.domain.com/workspace/hosting26.externalserverxxx.com/pictures/folders/2825AL.jpg on line 121 of file /Users/xxx/Sites/www.domain.com/extensions/jit_image_manipulation/lib/class.jit.php

Throws this error with function isImageAlreadyCached
$parameters['last_modified'] = @filemtime(WORKSPACE . '/'. $parameters['image']

[2016-07-14 00:09] nitriques commented on #137
Which version of Symphony ? And jit ? I have a black image (which is a problem) but not the same as yours...

[2016-07-14 08:08] wdebusschere commented on #137
Symphony 2.6.7
JIT Integration 2.0.2
The error only appears in the log
Image status is always 200.. while the Image status of local images is 304 on a refresh.

[2016-07-19 19:53] nitriques commented on #136
No, you are not if you want to adhere to the spec!

But that's the reality: the user did change it. Try to make your client understand a spec is way to much for them.

My proposition is this: If the filemtime of the original file is later than the cache, do not send/use the cache.

This does not require magic on save and should cover most cases. I won't go into invalidating proxies cache, as this

[2016-07-19 19:58] michael-e commented on #136
So the cache would no longer be used for this image?

[2016-07-19 20:14] nitriques commented on #136
@michael-e exactly: it would even get overwritten since we will act as if it did not exists.

[2016-07-19 21:02] michael-e commented on #136
So a new cache file would be written? Sounds good.

[2016-07-20 04:49] nilshoerrmann commented on #136
I like that idea.

[2016-07-20 22:07] nitriques commented on #136
Kindof: the existing one will get overwritten.

I'll implement it ASAP.

[2016-07-20 22:11] nitriques commented on #137
Hum... ok thanks. Still can't reproduce but still having a black image from cache

[2016-07-21 00:03] nitriques commented on #137
I've boiled it down to transparent png, which gets their transparency ripped out when the file is save from cache, but I do not know how this happens...

[2016-07-21 03:28] nitriques opened #138 "Two 200 before the 304"
When fetching an external image, jit now issues 2 HTTP 200 responses before sending the 304. Here's why:

1. The modified time and etag are calculated with a 2nd http request to get the headers (I wonder why, more on that later)
2. I've added things to use the filemtime of the cache file, which then creates new last modified and etag (so our logic fails)
3. You then get a proper 304.

I wanted to

[2016-07-21 11:07] michael-e commented on #138
I assume you mean the following: JIT issues two requests to the remote server and waits for the responses before managing to send a 304 response. Right?

If yes, do you mean that this has been introduced in 2.0? Or is it the same in 1.7?

BTW: I just discovered a bug with JIT 1.7 when I tried to test the reponses using cURL. (I don't know for sure if JIT 2.0 has the same behaviour.) The "If-Modifi

[2016-07-21 14:45] nitriques commented on #138
Same here !

You are right, but this is not what I've met: The request are those handle on the server where jit runs. I do not know if it's new to 2.0 (but it really looks like it)

I know! That the origin of my work on that extension haha!

Totally.

Right now, it's when there is no cache. When a cache file is created, it lasts forever, without ever checking if the url got modified. I was trying

[2016-07-21 14:58] michael-e commented on #138
Sorry, I still don't get it. Do you mean that JIT itself sends 3 answers to a single request??? Can you explain in simple words what is going on (on "Remote server", "JIT server" and "Client")?

So this has been broken in JIT 2? I am rather sure that JIT 1.7 sends a HEAD request to the remote server **before** delivering the cache file. (I vaguely remember that I myself implemented this a long tim

[2016-07-21 15:40] nitriques commented on #138
Haha!

Forget the remote server. The remote server always send 200 responses since we never sent it any cache headers.

1. First request: The server requests the external image, cache it and serve it as a 200.
2. Second request: The server gets the cache headers from the client, is not able to use it since the cache has a different last modified value than the one send in request number 1. This al

[2016-07-21 17:14] michael-e commented on #138
Ah, I see. It *should* be different, of course. If it is the same client, it will send `If-Modified-Since: Tue, 19 Jul 2016 10:43:29 GMT`. In this case JIT *should* send a `304` repsonse. (JIT 1.7 does this, according to my tests.)

You are right. We only check if the file is still available under the given URL. (Which is probably sufficient for services like Flickr, for example, which have unique

[2016-07-21 17:35] nitriques commented on #138
Cool. 2.0 does not :( But only for external images. The big question is: how can we send the right Date the first time ? And all other times too and be able to invalidate it...

[2016-07-21 17:36] nitriques commented on #138
I knew you and I would have fun with this when I posted it yesterday night ;)

[2016-07-21 17:57] michael-e commented on #138
:-)

AFAIK, you don't need to send any date with a 304 response. (As far as I see, JIT sets the header anyway, but either my Apache or my nginx frontend server seem to remove it if the status code is 304.)

For external images, JIT 1.7 will always do a HEAD request to the remote server; this is the important line:

[code]

A bit later:

[code]

[2016-07-21 18:14] nitriques commented on #138
Apache does it. nginx most likely also does it. It's in the spec: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5

This link is also in our codebase ;)

Indeed. That's what I am trying to remove while not breaking things as I currently did.

By caching the file on the spot, we could avoid using the data from the remote server but we must still be able to avoid having an infinite

[2016-07-21 18:37] michael-e commented on #138
Aha, so we get to the point, finally! :-))

This functionality has been implemented **on purpose** in order to **no longer deliver** a cache file if the original (external) file no longer exists. I think it is a bad idea to avoid the HEAD request, because in this case you will serve the cache file (at least for a while) although the original file has been removed from the interwebs.

[2016-07-21 18:48] nitriques commented on #138
I totally agree with you. But right now, this HEAD request causes problems since it loads the network card with request under high load.

It's funny because there was lots of code to avoid serving bad cache for external resources, but we would gladly sent bad cache for our local files ;)

[2016-07-21 18:49] nitriques commented on #138
I'd rather send invalid cache file and be able to support more requests

[2016-07-21 18:55] michael-e commented on #138
AFAIK, we don't serve a cache file if the original local file has been **removed** (which is the topic here).

In understand that this might be desired in certain systems. But not always. So what about making it optional? Just adding an option like "Don't check if external images still exist". The simplest implementation would deliver the cache file forever. A more advanced — like mentioned above

[2016-07-21 21:49] nitriques commented on #138
No I was referring to #136 which states that we serve the cache even if the file changed.

Let me bring random back! Set the configurable factor to one, the HEAD request is always made, bad cache is never used. That would be the default since it's the old behaviour. Set it to 0.5 or even 0.1 to lessen the chances of issuing a HEAD request to validate the cache but may send an invalid response.

Ot

[2016-07-22 10:55] michael-e commented on #138
Like you, I am not fond of involving the database. So yes, your proposal sounds like a solution. (Documentation is king, of course.)

[2016-07-22 14:25] nitriques commented on #138
Great!

[2016-07-28 04:12] nitriques commented on #138
@michael-e Do not rush anything, just a reminder. I am not in a rush to release this, I'll wait for you.

[2016-07-28 04:13] nitriques opened #139 "Proposition: Never cache external images that do not send proper cache headers"
This would add a load on the server, but would respect what the server asked for.

[2016-07-28 04:15] nitriques commented on #137
@wdebusschere Latest integration code should fix this. If you could confirm, that would be neat!

[2016-07-28 04:17] nitriques commented on #136
This, hopefully, should be all fixed. Relevant part starts here https://github.com/symphonycms/jit_image_manipulation/commit/a917e67c515ee9cff558913206873bf75e399a64#diff-d43a412e5f91261a65df2bc0b664df46R128

[2016-07-29 02:14] nitriques commented on #135
Nothing new here ? Still was not able to reproduce, even in a subfolder..

[2016-07-29 08:36] jude86-7 commented on #135
Hi, sorry we moved the site from our test server over onto the live server this last week and the extension updated okay with no errors.

Sorry to have troubled you, thank you for looking into it for me.

[2016-07-29 08:36] #135 closed

[2016-07-29 14:12] nitriques commented on #135
No worries, please re-open the ticket if you encounter it again!

[2016-08-02 03:13] nitriques opened #140 "Cache disabled + external image = no 304 ever"
If you disable the cache, you will never get a 304 on remote image since we (well I) use the temp file's mtime. Is this a problem ? I think we should set the tempfile mtime to the value returned by the server ?

Before 2.0.0, I think it would do the same. Am I right ?

[2016-08-02 03:27] nitriques commented on #138
@michael-e again, no rush, just wanted to let you know that my random thingny works really great. I'll deploy it in production tomorrow 👍

[2016-08-02 03:29] nitriques commented on #137
@wdebusschere Lots of work has been made yet again, if you could confirm please. Thanks (but no rush)

[2016-08-02 03:31] nitriques commented on #136
@nilshoerrmann The proposition made (and lots of other stuff) has been implemented in integration. If you could confirm that the issue is resolve, I would apreciate it. Thanks!

[2016-08-02 10:12] wdebusschere commented on #137
@nitriques

Perfect.
1st image = the remote image
2nd image = the same, but local version

<img width="830" alt="screen shot 2016-08-02 at 11 11 24" src="https://cloud.githubusercontent.com/assets/4136426/17325145/ef4a6d80-58a1-11e6-87b6-3374686b634e.png">

[2016-08-02 14:05] nitriques commented on #137
SUPER! Thanks!

[2016-08-02 20:20] michael-e commented on #138
Cool. Tell us how it works in production!

[2016-08-02 23:12] nitriques commented on #138
Still doing extensive testing, and it looks promising 👍

[2016-08-13 09:49] michael-e commented on #139
IMHO, not sending cache headers does **not** mean that a response should not be cached. It means that the sending server doesn't care, so we can do whatever we like.

[2016-08-13 15:17] michael-e commented on #140
First, I verified this with JIT 1.43. When the cache is disabled, you will never get a 304 response (but 200 OK). So with this older JIT version, the issue is the same for external and local images alike!

With JIT 2.x (current integration branch) the issue only exists for external images.

Yes, that sounds like a good idea!

[2016-08-13 15:45] michael-e opened #141 "Strange "Access-Control-Max-Age" value"
With the current integration branch, if you set `'max_age' => 259200` in the config file, you will have the following response header:

    Access-Control-Max-Age: 3000

3000???

[2016-08-13 15:47] michael-e opened #142 "Allow-Origin issues"
With the current integration branch, if you set `'allow_origin' => ''` in the config file, you will have the a header **without a value**:

    Access-Control-Allow-Origin:

If you make it `null`, however, there will be no access-control headers at all.

[2016-08-13 15:51] michael-e opened #143 "JIT attempts to set cookies"
This is not so funny: The current integration branch attempts to set cookies! :-(

[2016-08-13 16:01] michael-e commented on #141
Ah, I see, `Access-Control-Max-Age` has nothing to do with the max-age of the file, right?

Still, 3000 is a strange value...

[2016-08-13 16:18] michael-e opened #144 "Debug headers should use uppercase letters"
It seems to be a convention to use title case (uppercase letters at the beginning of words) and uppercase abbreviations for HTTP response headers.

Now the debug headers are:

* `X-jit-mode`
* `X-jit-cache`
* `X-jit-cache-file`
* `X-jit-cache-validation`

They should look like this:

* `X-JIT-Mode`
* `X-JIT-Cache`
* `X-JIT-Cache-File`
* `X-JIT-Cache-Validation`

[2016-08-13 16:26] michael-e opened #145 "Suggestion: set "debug mode" (headers) in config file"
Currently, JIT will add debug HTTP headers to the response when a user is logged into Symphony. This limits the usefulness, because it's rather hard to use cURL or other tools like *Rested* on the Mac, simply because logging in with these tools is an extra hurdle.

Wouldn't it be better to add a debug option to the config file?

[2016-08-13 16:31] michael-e opened #146 "Cache-Control header is faulty"
In the `Cache-Control` header, JIT separates the `max-age=` value using a semicolon. This must be a comma.

[2016-08-13 16:34] michael-e commented on #146
[PR sent](https://github.com/symphonycms/jit_image_manipulation/pull/147)

[2016-08-13 17:48] michael-e opened #148 "Settting "Access-Control-Allow-Origin" header requires setting (or manipualting) the "Vary" header"
Sounds reasonable.

[2016-08-13 17:58] michael-e opened #149 "JIT has become slower"
According to my tests, JIT has become 23 percent slower in delivering cached files, comparing version 1.43 to the current integration branch (2.x).

I guess the reason is the "full-blown Symphony launch" that is done with every request nowadays?

If that is the case, and given the fact that performance has been a big target in the last weeks, I suggest to re-consider launching a complete Symphony

[2016-08-13 18:01] michael-e commented on #149
I should add that the server that used for these tests is blazingly fast in launching PHP scripts. It has a very big filesystem cache (in RAM), and it also uses Zend Opcache.

This means that the difference may even be bigger on most machines.

[2016-08-13 18:26] michael-e commented on #149
My first test wasn't really good, because I used an external file for testing. Using a local file, results are much worse. JIT has become **more than 110 percent slower**, in other words: It needs more than double the time to deliver a cached file.

BTW, I have used Apache's `mod_headers` to test this. It allows to set a custom header with special variables that will be evaluated.

On my (as I sai

[2016-08-13 20:26] michael-e commented on #138
I have only done a short test (looking at the debug headers), and it seems to work "as advertised". But I guess in this case your production environment is a much better test!

[2016-08-13 20:30] michael-e commented on #149
WTF! I have seen that even JIT 1.43 uses the autoloader as well, so it's probably not the "size of the Symphony object" that makes the difference. But what can it be? The [dedicated "launcher"](https://github.com/symphonycms/jit_image_manipulation/commit/ef9351a26c833e1b676e08dca3b1280f95640d1a)?

[2016-08-13 20:47] michael-e commented on #99
When testing the current integration branch, I also experienced strange issues with PNGs. I am not entirely sure if these were related to your issue, @nitriques. But I will be happy to test your solution with my setup, if you tell me where to put these lines. (The link you posted goes to line number 2, which can't be true.)

[2016-08-15 01:05] nitriques commented on #149
Wow. I really need to dig in more. In my tests, on a crappy server, performance was better when serving cache from disk. The dedicated launcher is a good idea and should not create a drastic performance loss: it did remove lots of code duplication and potential security holes...

[2016-08-15 01:07] nitriques commented on #149
Ah I just spotted it. It's the database. On my server, it's fast but the drives are really slow... We must find a solution...

[2016-08-15 04:16] brendo commented on #149
So I never actually finished 2.0 and was kinda surprised that it was released when it was, and as such the actual caching [check](https://github.com/symphonycms/jit_image_manipulation/blob/master/lib/class.jit.php#L95-L105) was never finished :)

You see inspecting the orchestration of this function that if caching was implemented a significant amount of work would be avoided.

Even if this was do

[2016-08-15 10:07] michael-e commented on #149
@nitriques:

JIT doesn't touch the database, does it?

[2016-08-16 01:41] nitriques commented on #149
@brendo Next time, please do it in a 'experimental' branch. I had to fix bugs, that why I went into integration to try and fix them ;) But yeah, I am the one to blame. Sorry.

That being said, going the launcher route is the way to go IMHO. We just need to polish the rough edges.

@michael-e Yes it does. It has to run [all this code](https://github.com/symphonycms/symphony-2/blob/2.7.x/symphony/li

[2016-08-16 03:58] nitriques commented on #149
After some tests on my crappy server... With a local cache everytime, I get a 10ms boost when not hitting the database. (54ms vs 44ms) (I've took my timing with @michael-e %D trick. I would have to compare to 1.43... but time to go to sleep.

This is my test bundle.php

[code]

[2016-08-16 08:24] michael-e commented on #149
If you push to a dedicated (experimental) branch, I will test on my machine!

[2016-08-16 13:43] brendo commented on #149
An idea @nitriques, most of the initialisation logic in the Symphony class is done ahead of time so that when `Database()`, `Session()` etc. are called, the code simply returns the appropriate instance.

What would be interesting is changing this logic so the simple accessors actually implemented initialising the objects "just in time" before returning the instance. In theory, this would speed up

[2016-09-01 08:45] wdebusschere opened #151 "Some parts of the jpg image are replaced with black pixels.."
JIT 2.0.2 some parts ex. clouds are replaced with black pixels..

[2016-09-01 08:51] michael-e commented on #151
I have also noticed strange defects in images when I tested 2.x. This does not happen with JIT 1.x

[2016-09-01 08:58] wdebusschere commented on #151
Indeed, the had to go back to 1.x for this project.

[2016-10-13 08:42] dommar04 opened #152 "Javascript Injection possible"
The image.php is vulnerable to Cross-Site Scripting
Example:
..../extensions/jit_image_manipulation/lib/image.php?param=%3Cscript%3Ealert%28%27XSS%27%29%3C/script%3E

[2016-10-13 08:57] michael-e commented on #152
It is considered good practice to send vulnerability reports to <team@getsymphony.com> directly. (So these issues can be solved before being published.) But I admit, it is not documented anywhere.

Can you tell which version of JIT you are using? Version 2, maybe? (With JIT 1.43 the response I get is `Image /workspace/ could not be found.`)

[2016-10-13 09:20] DavidOliver commented on #152
Script injection working for me in JIT 1.44, if dynamic URLs are allowed. On initial load, `Image /workspace/' is shown as body content and the browser alert is shown. After clicking the button in the browser alert, the `Image /workspace/ could not be found.` body content is loaded.

Should this issue be deleted while a fix is created? I don't have any more recent installations of JIT to test at t

[2016-10-13 10:50] dommar04 commented on #152
Im using JIT 1.44.

You can delete the ticket if you like

[2016-10-13 12:23] michael-e commented on #152
I am afraid that I can not delete an issue. Maybe it's not possible at all. @nitriques will know.

[2016-10-27 00:18] nitriques commented on #152
Yes we could. But that's too late.

@michael-e I've been dying to add a block direct php access in the .htaccess for quite sometimes. That's the 3rd time it would have prevented XSS...

It's not reproducible with 2.x.x because of the renderer. But yeah I can confirm that it's working under 1.44.

I think I need to fix it....

[2016-10-27 00:34] nitriques commented on #152
A fix is available as version `1.46`, see https://github.com/symphonycms/jit_image_manipulation/releases/tag/1.46.

[2016-10-27 00:39] nitriques commented on #152
@dommar04 Can you

1. Confirm that 1.46 solves the issue.
2. Confirm that version 2.0.0 is un-affected.

Thanks for reporting. As @michael-e said, please write to team@getsymphony.com

@michael-e I've documented it https://github.com/symphonycms/symphony-2/wiki/Security-Bug-Disclosure

[2016-10-27 03:05] nitriques commented on #99
Here's a [permalink](https://github.com/symphonycms/jit_image_manipulation/blob/1ea6992ed0d8cdf9cfce2d6063214fcccef2242d/lib/class.imagefilter.php#L58)

BTW, I have "unit" tests on that thing, I'll share it ASAP.

[2016-10-27 04:13] brendo commented on #99
👍

[2016-10-27 08:43] michael-e commented on #152
Great!

[2016-10-27 16:28] dommar04 commented on #152
Yes it works in 1.46 and does not occour in 2.0.0

[2016-11-29 19:10] pixelninja opened #153 "server 500 issue on all but the first image on a page"
So I'm not sure if this is a localhost issue or not, as I'm currently still developing the site and haven't put it on a live environment server yet.

On initial page load, all images using JIT show correctly, and continue to do so for a few more page loads. But then all images except the first one on the page can't be found. The response is a 500 error, and when looking at it in Chrome Inspect, it

[2016-12-01 20:46] pixelninja commented on #153
Update:

I was getting the same error with Association field, in the backend only the first field would load in sections. Other AJAX attempts returned a 500. After some digging, it turns out I had multiple MySQL processes running! No effing idea how my system managed that, but it's only been post MacOS Sierra update so I might need to do some digging there... simply stopping mysql through the term

[2016-12-01 20:46] #153 closed

[2016-12-06 00:09] pixelninja commented on #153
Although worth mentioning, for anyone that comes across the same issue, is I had to remove MySQL completely from my iMac and reinstall it.

[Here's a good guide](https://coderwall.com/p/os6woq/uninstall-all-those-broken-versions-of-mysql-and-re-install-it-with-brew-on-mac-mavericks) (note I use Homebrew)

[2017-01-11 08:17] pixelninja commented on #151
Has anyone been able to identify the source of this issue? Having the same problem. Might have to revert back to 1.x.

[2017-01-11 15:33] nitriques commented on #151
@pixelninja It would be safest thing. We had some unstable code in the integration branch, which I release because I did not knew it was not finished. I will address all issues here shortly (I hope).

[2017-01-11 19:24] pixelninja commented on #151
Ok will do. Thanks @nitriques!

[2017-01-11 21:03] nitriques commented on #153
Weird!

[2017-01-26 08:04] animaux commented on #123
`integration` works fine for me in `Symphony 2.7beta2` whereas `2.0.0` did not. So please release :)

[2017-01-26 13:47] animaux opened #154 "Preserve Metadata"
GD does not retain any EXIF/XMP- or other Metadata while creating scaled images.

This may seem unimportant, but there are plenty of usecases where at least a _copyright_ entry would be important to have, since it’s obviously easy to download the images JIT creates. Even Facebook is facing legal action here:

https://petapixel.com/2016/11/22/german-photographer-sued-facebook-removing-exif-data-won

[2017-02-01 11:48] moretaste opened #155 "Sometimes an error 500 for image on nginx"
Error in the log:

`Fatal Error: GenericExceptionHandler 1: imagecreatefrompng(): gd-png: fatal libpng error: Read Error: truncated data  on line 198 of file .../extensions/jit_image_manipulation/lib/class.image.php`

Error is random and I can't give a testcase or steps to recreate.

[2017-02-01 12:51] moretaste commented on #146
Same error is in the 1.x branche

[2017-02-14 14:09] bydbest commented on #99
i think this png/jpg/image compressor is better way2enjoy.com/compress-png as it allows 50 files in one chance. plugin is not recommended as it will always keep your server loaded with excess load. i agree that it will automate the process but when you can do samething in 1 second through online without slowing down your website then i think that is the best. if you know any better then kindly sha

[2017-02-14 14:24] michael-e commented on #99
OMG, GitHub Spam!

[2017-02-14 14:29] bydbest commented on #99
@michael-e if u think its spam i will delete

[2017-02-14 14:36] michael-e commented on #99
Yes, please delete it. It has nothing to do with this thread.

[2017-02-14 14:37] bydbest commented on #99
ok thanks for guiding.deleting

On Tue, Feb 14, 2017 at 8:06 PM, michael-e <notifications@github.com> wrote:

[2017-02-14 14:48] michael-e commented on #99
Thanks! Feel free to open a new issue if you intend to discuss a proposal for JIT.

[2017-02-15 10:22] michael-e commented on #154
I am currently doing some research on that matter. It seems that GD is not the right tool if you want to preserve EXIF data. Imagick is more powerful, but unfortunately it may not be available on cheap hosting environments. So I don't see a solution that could be built into JIT.

It would be interesting to create something like a "JIT Pro" extension for Symphony which uses Imagick exclusively. But

[2017-02-15 10:41] animaux commented on #154
At least with providers I normally use *Imagick* is supported. JIT 2 is generally quite a hack currently. With @nitriques as a fresh parent I don’t see the current issues getting fixed soon.

[2017-02-15 18:18] michael-e commented on #154
I hacked together something for my needs, and I have one more information to share:

Imagick is terribly slow. To be precise: Creating Imagick image objects is slow (compared to GD). Also some calculations (e.g. color profile conversion) are slow. :-(

It's OK for me, because I have a very fast server with a lot of processors (working in parallel when many images have to be created). But I don't t

[2017-02-15 19:05] animaux commented on #154
Ok, thanks Michael. Sounds like performance really is the showstopper.

There are some threads on the web mentioning using exiftool to copy metadata and inject it back again after GD has done its magic. I think there might have been some built-in exif functionality in PHP.

One thing I always wished for was some kind of plugin-interface for JIT that allows to use all kinds of GD filters and comman

[2017-02-15 19:13] michael-e commented on #154
The problem is: JIT 1.7 is a chaos, and JIT 2 is messed up. :-)

If I had the time…

[2017-02-15 19:56] animaux commented on #154
If I had the skill *and* the time …

[2017-02-16 00:33] michael-e commented on #154
Skills? Not here. :-) 15 lines of code took me 2 days, then I realized that it doesn't work. Tomorrow is another day…

[2017-04-15 19:09] wdebusschere opened #157 "Division by zero"
`<img src="{$root}/image/2/500/0/5/images/1.png" />`
OK

`<img src="{$root}/image/2/500/0/5/images/1.png" />`
Division by zero
500/0 parameter is very handy when displaying images in a lightbox

`An error occurred in /Users/xxx/Sites/symphony/extensions/jit_image_manipulation/filters/filter.resizeandcrop.php around line 56`
`$dst_r = ($settings['meta']['width'] / $settings['meta']['height']);`

In

[2017-04-19 18:16] nitriques commented on #157
2.0 is not stable right now. Sorry. I'll fix it ASAP.
Can you try the ìntegration branch ?

[2017-07-28 13:29] ilithium commented on #151
@nitriques Any chance of an update on this?

[2017-08-08 15:17] wdebusschere opened #158 "Deprecated in Symphony 2.7.0 - public function grab(array &$param_pool=NULL)"
public function grab(array &$param_pool=NULL){
			$result = new XMLElement($this->dsParamROOTELEMENT);

data.jit_image_manipulation_recipes.php L26

[2017-08-10 17:55] nitriques commented on #158
We will need this for Symphony 3.0.0 only.

[2017-08-30 07:55] nonozone opened #159 "php7.0-gd installed,but still error:Call to undefined function imagecreatefromjpeg() php7.0"
FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Call to undefined function imagecreatefromjpeg() in /xxxx/public_html/extensions/jit_image_manipulation/lib/class.image.php:112

GD Support | enabled
-- | --
GD headers Version | 2.2.4
GD library Version | 2.2.4
FreeType Support | enabled
FreeType Linkage | with freetype
FreeType Version | 2.6.3
GIF Read Support | enabled
GIF

[2017-08-30 15:54] nitriques commented on #159
Thanks for the report, but this extension as not been tested with PHP 7. The error is pretty weird tho, since your PHP setup seems ok. Do other image format works ?

[2017-08-31 01:54] nonozone commented on #159
I donot use other image format,so i dont know it.

[2017-08-31 15:07] nitriques commented on #159
Can you try a png just to see if it works ?

[2017-09-01 01:53] nonozone commented on #159
OK，I found the problem. Just use the mode 1：resize  have this problem.   Other mode, running normally

[2017-09-07 21:24] nitriques commented on #159
Very, very weird.

[2017-10-01 08:51] jurajkapsz opened #160 "Direct display recipe returns HTTP 500 on SVG"
**Edit:** JIT ext v1.46

As mentioned [here](https://github.com/symphonycms/jit_image_manipulation/issues/117#issuecomment-184430959), SVG cannot be "jitted".

Does a `direct display` recipe still do some "jitting"? I thought it would let images just through.

It throws the following error:

    PHP Fatal error:  Uncaught exception 'Exception' with message 'Unable to retreive image size
    inform

[2017-10-02 16:38] nitriques commented on #160
This is normal. SVG is not supported by jit since it is not a binary (pixel) format, it does not need to be jitted.

[2017-10-02 16:38] #160 closed

[2018-03-16 17:19] nitriques commented on #158
Let's keep the issue open, to make sure it gets adressed

[2019-02-28 15:32] michael-e opened #164 "[1.x] Wrong exception for empty external image responses"
When an external image is requested and the response is empty, the exception will be "Error writing to temporary file ...". It should rather be "Error reading external image ...".

I will send a PR to 1.x.

[2019-02-28 15:32] michael-e opened #165 "[1.x] Color index out of range warning"
PHP throws a "Warning: imagecolorsforindex(): Color index ... out of range in..." if the index returned by imagecolortransparent() is larger than the pallet size of the image in question. This can (and does) happen with GIF images, for example created by Photoshop.

I will send a PR to 1.x.

[2019-02-28 15:32] michael-e opened #166 "[1.x] Replace E_USER_ERROR with E_USER_NOTICE for non-existing images"
When an image can not be loaded, a E_USER_ERROR is thrown. But Symphony's 404 errors, for example, trigger E_USER_NOTICE exceptions. So the latter should be enough here as well.

This will allow to run big systems with suppressed notices, thus preventing the log file from being polluted with image errors (mainly caused by robots anyway).

I will send a PR to 1.x.

[2019-04-12 09:10] codafish-gmbh opened #170 "Error loading image. Check if exists and is readable."
We upgraded to Symphony CMS 2.79 and also updated JIT Image Manipulation to version 1.4.7, php version 7.2.17. Unfortunately, pictures won't load anymore. The following error occurs:

Error loading image /FILE. Check it exists and is readable.

The file exists. Anyone any idea how to fix this?

[2019-08-27 16:06] michael-e opened #171 "[1.x] JIT sends 304 responses for deleted originals"
If an original image file has been deleted, [`$last_modified_gmt` and `$etag` will be `null`](https://github.com/symphonycms/jit_image_manipulation/blob/1.47/lib/image.php#L266). This will always make one of the conditions in [this line](https://github.com/symphonycms/jit_image_manipulation/blob/1.47/lib/image.php#L292) return true.

Thus, JIT will send a 304 response for revalidation requests (`I